<div class="header_container">
  <div class="element-type">Database</div>
  <h3 class="name">{{name}}</h3>
  <div class="buttons">
    <button class="btn delete-database" data-id={{id}}>Delete Database</a>
  </div>
</div>
<div class="tables_container element-list-container"></div>
