<div id="database-view">
    <div class="operations">
        <div class="dropdown">
            <button class="btn dropdown-toggle" data-toggle="dropdown">Operations</button>
            <ul class="dropdown-menu">
                <li><a href="#" class="rename">Rename database</a></li>
                <li><a href="#" class="delete">Delete database</a></li> 
            </ul>
        </div>
    </div>
    <div class="main_title"></div>
    <div id="user-alert-space"></div>
    <div class="section statistics">
        <h2 class="title">Statistics</h3>
        <div class="content row-fluid">
            <div class="span4 profile"></div>
            <div class="span8 performance-graph"></div>
        </div>
    </div>
    <div class="section table-list list-view"></div>
</div>

