
    <div class="header_container">
        <div class="element-type">Database</div>
        <h3 class="name"><a href="#databases/{{id}}">{{name}}</a></h3>
        <div class="buttons">
            <button class="btn remove-database" data-id={{id}}>Delete Database</a>
        </div>
    </div>
    <div class="tables_container element-list-container"></div>


