
    {{#if delete_ok}}
    <p>You successfully deleted the secondary index <strong>{{name}}</strong>.</p>
    {{/if}}
    {{#if create_ok}}
    <p>You successfully created the secondary index <strong>{{name}}</strong>.</p>
    {{/if}}


