<h2 class="title">Servers used by this table</h2>
<div class="unavailable-error">
  <p>
    Document estimates cannot be updated while not enough replicas are available.
  </p>
</div>
<ul class="assignments_list">
  <li class="tree-line"></li>
</ul>
