<h2 class="title">Data distribution</h2>
<div id="data_distribution-container" class="data_distribution-container">
    <div class="alert displayed_alert loading">Loading...</div>
    <div class="alert outdated_distribution">The distribution may be slightly outdated</div>
    <div class="shard-graph">
        <svg class="shard-diagram" width="700" height="350">
            <g class="bars_container"></g>
            <g class="extra_container"></g>
        </svg>
    </div>
</div>
