    <h2 class="title">Servers used by this table</h2>
    {{#if loading}}
    <div class="alert displayed_alert loading">Loading...</div>
    {{/if}}
    <ul class="assignments_list">
        <li class="tree-line"></li>
    </ul>
