
    <h2 class="title">Shard status</h2>
    <div class="shard-status"></div>
    <h2 class="title">Sharding settings</h2>
    <div class="edit-shards"></div>
    <h2 class="title">Data repartition</h2>
    <div id="data_repartition-container" class="data_repartition-container">
        <div class="alert displayed_alert loading">Loading...</div>
        <div class="alert outdated_distribution">The distribution may be slightly outdated</div>
        <div class="shard-graph">
            <svg class="shard-diagram" width="700" height="350">
                <g class="bars_container"></g>
                <g class="extra_container"></g>
            </svg>
        </div>
    </div>


