<div id="table-view">
    <div class="operations">
        <div class="dropdown">
            <button class="btn dropdown-toggle" data-toggle="dropdown">Operations</button>
            <ul class="dropdown-menu">
                <li><a href="#" class="rename">Rename table</a></li>
                <li><a href="#" class="delete">Delete table</a></li> 
            </ul>
        </div>
    </div>
    <div class="main_title"></div>
    <div id="user-alert-space"></div>
    <div class="section statistics">
        <h2 class="title">Statistics</h3>
        <div class="content row-fluid">
            <div class="span4 profile"></div>
            <div class="span8 performance-graph"></div>
        </div>
    </div>
    <div class="row">
      <div class="span5">
        <div class="section sharding"></div>
      </div>
      <div class="span7">
        <div class="section reconfigure-panel tree-view"></div>        
        <div class="section secondary_indexes"></div>
      </div>
    </div>
    <div class="section server-assignments tree-view"></div>
</div>


