
    <div class="cannot_shard-alert alert alert-error"></div>
    <button class="btn edit">Edit</button>
    <p class="icon_paragraph"><span class="big">{{num_shards}}</span> <span class="shard_text">{{pluralize_noun "shard" num_shards}}</span></p> 



