*.pyc
*.o
*~
.*.swp
.tags
.cscope
build
src/quickrun_rethinkdb
src/debug_rethinkdb
src/eavesdrop_rethinkdb
src/eavesdrop_memcache
src/eavesdrop
src/eavesdrop_debug
src/valgrind_rethinkdb
src/.gdb_history
src/.gdbinit
src/standard_commands
src/rethinkdb_data
*/output_from_test/
core
vgcore.*
test/unit/.retest
bench/stress-client/stress
bench/serializer-bench/serializer-bench
.deps/
autom4te.cache/
.dirstamp
stamp-h1
lib/google-perftools-1.6/Makefile
lib/google-perftools-1.6/backup*
lib/google-perftools-1.6/config.*
lib/google-perftools-1.6/description-pak
lib/google-perftools-1.6/doc-pak/
lib/google-perftools-1.6/*.deb
lib/google-perftools-1.6/src/config.h
lib/google-perftools-1.6/src/google/tcmalloc.h
lib/google-perftools-1.6/libtool
lib/google-perftools-1.6/src/config.h.in
lib/libmemcached-0.44/configure
lib/libmemcached-0.44/libmemcached/configure.h
lib/libmemcached-0.44/Makefile
lib/libmemcached-0.44/config.h
lib/libmemcached-0.44/config.log
lib/libmemcached-0.44/config.status
lib/libmemcached-0.44/config/pandora_vc_revinfo
lib/libmemcached-0.44/description-pak
lib/libmemcached-0.44/doc-pak/
lib/libmemcached-0.44/docs/Makefile
lib/libmemcached-0.44/libtool
lib/libmemcached-0.44/support/libmemcached-fc.spec
lib/libmemcached-0.44/support/libmemcached.pc
lib/libmemcached-0.44/libmemcached_0.44-1_amd64.deb
