*.pyc
*.swp
*~
.DS_Store
.tags
TAGS
.cscope
cscope.files
cscope.out
build
src/quickrun_rethinkdb
src/debug_rethinkdb
src/eavesdrop_rethinkdb
src/eavesdrop_memcache
src/eavesdrop
src/eavesdrop_debug
src/valgrind_rethinkdb
rethinkdb_data
rethinkdb_metadata
bench/stress-client/stress
bench/stress-client/libstress.so
bench/stress-client/*.o
bench/stress-client/protocols/*.o
bench/stress-client/protocols/query_language.pb.h
bench/stress-client/protocols/query_language.pb.cc
last_tested_versions
src/spin_up_clusters.py
src/.clang_complete
src/find_replace.sh
src/make_filter.sh
scripts/netrecord/netrecord
src/cluster_directory_*
custom.mk
config.mk
mk/gen/*
test/rql_test/run/
drivers/python/rethinkdb/ql2_pb2.py
external/re2/obj/
drivers/python/rethinkdb/ql2.pb.cc
drivers/python/rethinkdb/ql2.pb.h
drivers/python/rethinkdb_pbcpp.so
test_results.*
drivers/python/ql2.proto
scripts/cluster_directory_*
packaging/ami/build-ami-files/static-web
external/*
!external/gtest*
