*.pyc
*~
.*.swp
.tags
TAGS
.cscope
cscope.files
cscope.out
build
src/quickrun_rethinkdb
src/debug_rethinkdb
src/eavesdrop_rethinkdb
src/eavesdrop_memcache
src/eavesdrop
src/eavesdrop_debug
src/valgrind_rethinkdb
rethinkdb_data
rethinkdb_metadata
*/output_from_test/
test/unit/.retest
bench/stress-client/stress
bench/stress-client/libstress.so
bench/serializer-bench/serializer-bench
bench/serializer-bench/gmon.out
bench/serializer-bench/main.o
last_tested_versions
.deps/
src/spin_up_clusters.py
src/.clang_complete
src/find_replace.sh
src/make_filter.sh
drivers/*/rdb_protocol
