# Auto-detect other text files
*  text=auto

# Always text
*.cc   text
*.hpp  text
*.h    text
*.tcc  text

# Ensure shell scripts keep unix line endings
*.sh       text eol=lf
configure  text eol=lf
mk/support/pkg/* text eol=lf
