<form class="form">
  <label for="name">Name</label>
  <input class="xlarge focus-table-name" name="name" size="30" type="text" />
  <p class="show_advanced_settings-link_container"><a href="#" class="show_advanced_settings-link">Show optional settings</a></p>
  <p class="hide_advanced_settings-link_container"><a href="#" class="hide_advanced_settings-link">Hide optional settings</a></p>

  <div class="advanced_settings">
    <label for="name">Primary key</label>
    <input class="xlarge" name="primary_key" size="30" type="text" placeholder="id"/>
    <label for="name">Acknowledge writes only when written to disk</label>
    <div class="toggle-primary">
      <div class="switch">
        <input type="radio" class="switch-input" name="write_disk" value="yes" id="write_disk_yes" checked>
        <label for="write_disk_yes" class="switch-label switch-label-off">Yes</label>
        <input type="radio" class="switch-input" name="write_disk" value="no" id="write_disk_no">
        <label for="write_disk_no" class="switch-label switch-label-on">No</label>
        <span class="switch-selection"></span>
      </div>
    </div>
  </div>
</form>
