 
    <form class="form">
        <fieldset>
            <div class="clearfix">
                <label for="name">Name</label>
                <div class="input">
                    <input class="xlarge focus_new_name" name="name" size="30" type="text" />
                </div>
            </div>
        </fieldset>
    </form>


