
    <div class="alert alert-error displayed_alert" data-alert="alert">
        <a class="close" href="#">&times;</a>
        <p>The connection to the server failed. Try <a href="#" id="reconnect">running</a> the query again.</p>
    </div>


