
    {{#if ratio_available}}
    <p class="details">
        {{percentage}}%
    </p>
    <div class="full_bar">
        <div class="bar" style="width: {{percentage}}%;"></div>
    </div>
    {{/if}}


