
  {{#if backfill_progress}}replicating{{#if backfill_progress.ratio_available}}{{#if backfill_progress.backfiller_machines}} from {{#comma_separated backfill_progress.backfiller_machines}}<a href="/#servers/{{machine_id}}">{{machine_name}}</a>{{/comma_separated}}{{/if}}{{/if}}{{else}}up to date{{/if}}


