
    <table class="section" id="cluster_status_container" class="cluster_status">
        <tr>
            <td class="panel availability"></td>
            <td class="panel redundancy"></td>
            <td class="panel reachability"></td>
            <td class="panel consistency"></td>
        </tr>
    </table>

    <div class="section" id="cluster_performance_container"></div>
    <div class="section" id="log-view">
        <button class="btn btn-primary view-logs">View All</button>
        <h2 class="title">Recent log entries</h2>
        <div class="recent-log-entries-container"></div>
    </div>


