<div class="section" id="cluster_status_container" class="cluster_status">
  <div class="panel availability"></div>
  <div class="panel redundancy"></div>
  <div class="panel connectivity"></div>
  <div class="panel sindexes"></div>
</div>

<div class="section" id="cluster_performance_container"></div>
<div class="section recent-logs">
    <button class="btn btn-primary view-logs">View All</button>
    <h2 class="title">Recent log entries</h2>
    <div class="recent-log-entries-container"></div>
</div>
