
    <div class="profile_summary">
        <div class="row-fluid">
            <div class="span4">
                <p class="query-duration-roundtrip"><span class="big">{{total_duration}}</span> round-trip time</p>
            </div>
            <div class="span4">
                <p class="query-duration-server"><span class="big">{{server_duration}}</span> server time</p>
            </div>
            <div class="span4">
                <p class="query-tasks"><span class="big">{{num_shard_accesses}}</span> shard accesses</p>
            </div>
        </div>
    </div>


