
    <h1 class="title">Error</h1>
    <p class="error_title">
        {{#if js_error}}
            JavaScript error:
        {{else}}
            Server error:
        {{/if}}
    </p>
    <pre class="error error_details">{{error}}</pre>

    {{#if query}}
        <p class="error">The query that returned an error is:</p>
        <pre class="error error_details">{{query}}</pre>
    {{/if}}




