
    <div class="section">
        <div class="options_container">
            <button class="clear_queries_link btn" title="Clear history">Clear history<div class="option_icon clear_history"></div></button>
            <button class="close_queries_link btn" title="History">History<div class="option_icon show_history"></div></button>
            <button class="btn toggle_options_link" title="Options"><div class="option_icon show_options"></div></button>
            <button class="btn button_query change_size" title="Fullscreen"><div class="option_icon fullscreen"></div></button> 
        </div>
        <h1 class="title small_margin_bottom">Data Explorer</h1>
        <div id="user-alert-space"></div>
        <div class="reason_dataexplorer_broken alert alert-error"></div>
        <div class="toggled_container">
            <div class="arrow_dataexplorer"></div>
            <div class="nano_border"></div>
            <div class="nano">
                <div class="content">
                 </div>
            </div>
            <div class="nano_border nano_border_bottom"></div>
        </div>
        <div class="input_query_full_container"></div>
        <div class="results_container"></div>
    </div>


