
    <div class="input_query_container" >
        <div class="suggestion_full_container">
            <div class="suggestion_list_container">
                <ul class="suggestion_name_list"></ul>
            </div>
            <div class="suggestion_description"></div>
        </div>
        <div class="suggestion_description_arrow arrow"></div>
        <div class="suggestion_description_arrow_overlay arrow"></div>
        <textarea class="input_query" id="input_query"></textarea>
        <div class="button_container">
            <button class="btn button_query execute_query">Run</button>
            <button class="btn button_query abort_query">Abort</button>
            <button class="btn button_query clear_query">Clear</button>
        </div>
    </div>
    <div class="loading_query">
        <img src="images/ajax-loader.gif" class="loading_query_img"/>
    </div>


