
    <p>{{print_safe description}}</p>
    {{#if grouped_data}}<p class="grouped_data_warning"><strong>Note: </strong>Commands chained after group will operate on each reduction. Call ungroup to operate on the array of groups.</p>{{/if}}
    <div class="db_table_available"></div>
    <div class="separation"></div>
    {{print_safe example}}


