
    <div class="json_tree">
        <span class="jt_arrow"></span>
        <span class="jt_b"></span>
        <span class="jt_points">...</span>
        <div class="jt_collapsible large_result">
            {{json_data}}
        </div>
    </div>



