<div class="header_container">
  <div class="element-type">Database</div>
  <h3 class="name">{{name}}</h3>
  <div class="buttons">
    <button class="btn add-table">+ Add Table</button>
    <button class="btn for-multiple-elements remove-tables" disabled="disabled">&ndash; Delete selected tables</button>
  </div>
</div>
<div class="tables_container element-list-container"></div>
