
    <div class="section">
        <h2 class="title">Error</h1>
        <p>The request to retrieve data failed. You can try to <a href="{{url}}">refresh</a>.</p>
        <p>Error:</p>
        {{#if error}}<pre class="main_query_error">{{error}}</pre>{{/if}}
    </div>


