
    <a class="close" href="#">&times;</a>
    <p><strong>Update found:</strong> A new version of RethinkDB is available (version {{last_version}}): see the <a href="{{link_changelog}}" target="_blank" class="release_link">release announcement</a> for details.</p>


