
  <div class="modal show is_disconnected">
    <div class="modal-header">
      <h3>You have been disconnected from the server</h3>
    </div>
    <div class="modal-body">
        <p>The connection to the server has been lost.  The server may be under heavy load.
        <p class="animation_state">
            <span class="reconnecting_state">Trying to reconnect</span>
            <span class="three_dots_connecting"></span>
        </p>
    </div>
  </div>


