<div class="issue {{#if critical }}critical{{/if}} name-conflict">
  <div class="issue-header">
    <p class="issue-type">Unknown issue</p>
    <p class="message">{{type}}</p>
  </div>
  <hr />
  <div class="issue-details">
    <p>An unknown issue was sent by the server. Please contact support.</p>
    <p>Raw data:</p>
    <p>{{description}}</p>
  </div>
</div>
