
    Changed database 
    {{#if database_exists}}
        <a href="#databases/{{database_id}}">{{database_name}}</a>'s
    {{else}}
        [database no longer exists]
    {{/if}} 
    {{attribute}}<br/>

