
    Created a new table {{namespace_name}}
    {{#if is_universe}}
        without specifying a primary datacenter.
    {{else}}
        with primary datacenter <a href="#datacenters/{{datacenter_id}}">{{datacenter_name}}</a>.
    {{/if}}
    <br/>

