
    <div class="row-fluid">
        <div class="span9">
            <p class="message">{{print_safe msg}}</p>
            <p class="from-machine">Posted by <a href="#servers/{{machine_uuid}}">{{machine_name}}</a></p>
        </div>
        <div class="span3">
            <p class="datetime">{{datetime}}</p>
        </div>
    </div>


