
    <div class="element reads">
        <div class="outer-circle"><div class="color"></div></div>
        <p>Reads/sec: {{read_count}}</p>
    </div>
    <div class="element writes">
        <div class="outer-circle"><div class="color"></div></div>
        <p>Writes/sec: {{write_count}} </p>
    </div>

