<div class="alert" data-alert="alert">
    <a class="close" href="#">&times;</a>
    {{#if name_conflict}}
        <p>You successfully solved the name conflict.</p>
    {{/if}}
    {{#if server_dead}}
        <p>You successfully removed the server <span class="name">{{server_name}}</span>.</p>
    {{/if}}
    {{#if unsatisfiable_goals}}
    <p>You successfully solved {{#unless can_be_solved}}a part of{{/unless}} the unsatisfiable goals issue.</p>
    {{/if}}
</div>
