<div class="alert" data-alert="alert">
    <a class="close" href="#">&times;</a>
    {{#if name_conflict}}
        <p>You successfully solved the name conflict.</p>
    {{/if}}
    {{#if server_dead}}
        <p>You successfully removed the server <span class="name">{{server_name}}</span>.</p>
    {{/if}}
</div>
