    <div class="container">
        <div class="cluster-status row">
            <div class="span3 client-connection-status"></div>
            <div class="span3 issues"></div>
            <div class="span3 servers-connected"></div>
            <div class="span3 tables-available"></div>
        </div>
    </div>
