{{#if ended}}
    {{#if at_beginning}}
        <p>No results were returned for this query</p>
    {{else}}
        <p>No more results were returned for this query</p>
    {{/if}}
{{else}}
    <p>Waiting for more results</p>
{{/if}}
