<div class="actions-bar">
  <button class="btn add_database">+ Add Database</button>
  <button class="btn for-multiple-elements remove-tables" disabled="disabled">&ndash; Delete selected tables</button>
</div>
<h1 class="title">Tables in the cluster</h1>
<div id="user-alert-space"></div>
<div class="databases_list"></div>
