
{{#if is_internet_explorer}}
Sorry, the data explorer does not support Internet Explorer. See the <a href="http://www.rethinkdb.com/docs/pragmatic-faq/#what-browsers-are-supported-by-the-administra">supported browsers</a>.
{{else}}
{{#if no_driver}}
JavaScript driver not found.
{{else}}
Sorry, the data explorer does not support your browser. Please upgrade it. See the <a href="http://www.rethinkdb.com/docs/pragmatic-faq/#what-browsers-are-supported-by-the-administra">supported browsers</a>.
{{/if}}
{{/if}}


