
    <div class="no-databases">
        <div class="alert displayed_alert">
            You need to create a database before creating a table.
        </div>
        <div class="no_element display">
            <div class="no_element_content">There are no databases in this cluster.</div>
        </div>
    </div>


