{{! Confirmation dialog alert }}
<div class="alert displayed_alert" data-alert="alert">
    <a class="close" href="#">&times;</a>
    <p>You successfully renamed {{type}} <span class="name">{{old_name}}</span> to <span class="name">{{new_name}}</span>.</p>
</div>
