{{#if connect_fail}}
<p>An error occurred: Could not open a connection. <a href="#" class="reconnect_link">Try again</a>.</p>
{{/if}}
{{#if index_list_fail}}
<p>An error occurred: could not retrieve secondary indexes. <a href="#" class="reconnect_link">Try again</a>.</p>
{{/if}}
{{#if create_fail}}
<p>The secondary index could not be created:</p>
<div class="error_detail">
  {{print_safe message}}
</div>
{{/if}}
{{#if delete_fail}}
<p>The secondary index could not be deleted:</p>
<div class="error_detail">
  {{print_safe message}}
</div>
{{/if}}
