
    {{! Template for the rename item dialog }}
    <div class="alert alert-error error_answer"></div>
    <form class="form">
        <fieldset>
        <legend>Rename {{type}} from {{old_name}} to:</legend>
        <div class="clearfix">
            <label for="new_name">New name</label>
            <div class="input">
                <input class="xlarge" id="focus_new_name" name="new_name" size="30" type="text" />
            </div>
        </div>
        </fieldset>
    </form>


