{% macro build_badge(build) -%}
    {% if build.status == "waiting" %}
        Waiting
    {% elif build.status == "running" %}
        <span style="color:#ccaa00">Running ({{ build.start_time | duration_to_now }})</span>
    {% elif build.status == "ok" %}
        <span style="color:green">OK ({{ (build.end_time - build.start_time) | duration }})</span>
    {% elif build.status == "fail" %}
        <span style="color:#cc0000">Fail ({{ (build.end_time - build.start_time) | duration }})</span>
    {% elif build.status == "bug" %}
        <span style="color:#cc0000">Bug</span>
    {% else %}
        {{ build.status }}
    {% endif %}
{%- endmacro %}

{% macro test_badge(test) -%}
    {% if test.status == "waiting" %}
        Waiting
    {% elif test.status == "running" %}
        <span style="color:#ccaa00">Running ({{ test.start_time | duration_to_now}})</span>
    {% elif test.status == "pass" %}
        <span style="color:green">Pass ({{ (test.end_time - test.start_time) | duration }})</span>
    {% elif test.status == "fail" %}
        <span style="color:#cc0000">Fail ({{ (test.end_time - test.start_time) | duration }})</span>
    {% elif test.status == "bug" %}
        <span style="color:#cc0000">Bug</span>
    {% elif test.status == "missing_prereqs" %}
        Prerequisite missing
    {% else %}
        {{ test.status }}
    {% endif %}
{%- endmacro %}

