{% from 'common.html' import build_badge, test_badge %}

<html>
    <head>
        <title>Nightly test</title>
    </head>
    <body>
        <h1>Nightly test</h1>
        {% if builds %}
            <h2>Builds</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name in builds %}
                        <tr>
                            <td><a href={{ build_urls[name] }}>{{ name | e }}</a></td>
                            <td>{{ build_badge(builds[name]) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if tests %}
                <h2>Tests</h2>
                <table style="table-layout:fixed; width:100%;">
                    <thead>
                        <tr>
                            <th style="width:50px;">Name</th>
                            <th>Command line</th>
                            <th style="width:200px">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for name in tests %}
                            <tr style="height:1em;">
                                <td><a href={{ test_urls[name] }}>{{ name | e }}</a></td>
                                <td style="overflow:hidden; white-space:nowrap;"><code>{{ tests[name].command_line | e }}</code></td>
                                <td style="padding-left: 50px;">{{ test_badge(tests[name]) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endif %}
        <a name="log"><h2>Log</h2></a>
        <div style="width:100%; overflow:auto;">
            <code>
                <pre>
{{ log }}
                </pre>
            </code>
        </div>
    </body>
</html>

                                