{% from 'common.html' import test_badge %}

<html>
    <head>
        <title>Test {{ name | e }}: {{ test.command_line | e }}</title>
    </head>
    <body>
        <h1>Test {{ name | e }}: <code>{{ test.command_line | e }}</code></h1>
        <p>Status: {{ test_badge(test) }}</p>
        {% if test.status == "bug" %}
            <p>Bug traceback:</p>
            <code><pre>{{ build.traceback }}</pre></code>
        {% elif test.status == "missing_prereqs" %}
            <p>Missing prerequisites:</p>
            <ul>
                {% for prereq in test.missing %}
                    <li><code>{{ prereq }}</code></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if output %}
            <p>Output:</p>
            <code><pre>{{ output }}</pre></code>
        {% endif %}
    </body>
</html>
