/*
    ----------------------------
    Data explorer 
    ----------------------------
*/
#dataexplorer {
  font-size: 13px;
  margin: 0px;
}
#dataexplorer h1.title {
  font-family: 'Copse', serif;
  color: #4d535c;
  font-size: 19px;
  margin-bottom: 25px;
}
#dataexplorer .query_control {
  position: relative;
  width: 100%;
}
#dataexplorer .query_control .suggestion_description_arrow {
  display: none;
  position: absolute;
  z-index: 201;
  top: 10px;
  left: 0px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #bbb;
}
#dataexplorer .query_control .suggestion_description_arrow_overlay {
  display: none;
  position: absolute;
  z-index: 202;
  top: 11px;
  left: 0px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
#dataexplorer .query_control .suggestion_full_container {
  position: absolute;
  width: 452px;
  top: 20px;
  left: 0px;
  z-index: 100;
  font-family: 'Inconsolata', monospace;
}
#dataexplorer .query_control .suggestion_full_container .suggestion_name_list {
  background: #fff;
  display: none;
  width: 452px;
  padding: 0px;
  margin: 0px 0px 9px 0px;
  border: 1px solid #d7d7d7;
  color: #23a5df;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 -6px 6px -6px #dddddd;
  -moz-box-shadow: inset 0 -6px 6px -6px #dddddd;
  box-shadow: inset 0 -6px 6px -6px #dddddd;
}
#dataexplorer .query_control .suggestion_full_container .suggestion_name_list .suggestion_name_li {
  display: inline-block;
  margin: 5px 0px;
  padding: 0px 5px;
  min-width: 97px;
  min-height: 18px;
  cursor: pointer;
}
#dataexplorer .query_control .suggestion_full_container .suggestion_name_list .suggestion_name_li_hl {
  color: #005388;
}
#dataexplorer .query_control .suggestion_full_container .suggestion_description {
  display: none;
  width: 442px;
  padding: 5px;
  margin: 0px;
  background: #fcfcfc;
  border: 1px solid #d7d7d7;
  color: #9ea2a8;
  font-family: 'Inconsolata', monospace;
  word-wrap: break-word;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 -6px 6px -6px #dddddd;
  -moz-box-shadow: inset 0 -6px 6px -6px #dddddd;
  box-shadow: inset 0 -6px 6px -6px #dddddd;
}
#dataexplorer .query_control .suggestion_full_container .suggestion_description p {
  font-family: 'Inconsolata', monospace;
  margin: 3px 0px;
}
#dataexplorer .query_control .suggestion_full_container .suggestion_description p .description_name {
  color: #000;
  font-weight: bold;
}
#dataexplorer .query_control .suggestion_full_container .suggestion_description p .description_arguments {
  color: #444;
}
#dataexplorer .query_control .input_query_container {
  font: 'Inconsolata', monospace;
  padding: 0px;
  margin: 10px 0px;
  overflow: auto;
}
#dataexplorer .query_control .input_query_container .button_container {
  overflow: auto;
  margin: 0px 0px 5px 0px;
}
#dataexplorer .query_control .input_query_container .button_container .button_query {
  float: right;
  width: 80px;
  margin: 0px 0px 0px 10px;
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
#dataexplorer .query_control .input_query_container .button_container .button_query:hover,
#dataexplorer .query_control .input_query_container .button_container .button_query:active,
#dataexplorer .query_control .input_query_container .button_container .button_query.active,
#dataexplorer .query_control .input_query_container .button_container .button_query.disabled,
#dataexplorer .query_control .input_query_container .button_container .button_query[disabled] {
  background-color: #e6e6e6;
}
#dataexplorer .query_control .input_query_container .button_container .button_query:active,
#dataexplorer .query_control .input_query_container .button_container .button_query.active {
  background-color: #cccccc \9;
}
#dataexplorer .query_control .input_query_container .CodeMirror {
  background: #f8f8f8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e3e3e3;
  cursor: text;
}
#dataexplorer .query_control .input_query_container .CodeMirror .CodeMirror-gutter {
  background: #f1f1f1;
  border-right: 1px solid #e3e3e3;
  cursor: auto;
}
#dataexplorer .query_control .loading_query {
  text-align: center;
  height: 16px;
  width: 16px;
  padding: 0px;
  margin: 0px auto 10px auto;
}
#dataexplorer .query_control .loading_query .loading_query_img {
  display: none;
}
#dataexplorer .data_container .results_header {
  overflow: hidden;
}
#dataexplorer .data_container .results_header p {
  font-family: 'Open Sans', sans-serif;
}
#dataexplorer .data_container .namespaces_available_container {
  float: left;
  width: 330px;
  padding: 20px 10px 10px 10px;
}
#dataexplorer .data_container .namespaces_available_container h4 {
  margin: 7px 0px 5px 0px;
}
#dataexplorer .data_container .history_queries {
  float: left;
  width: 330px;
  padding: 20px 10px 10px 10px;
}
#dataexplorer .data_container .queries_list {
  margin: 0px;
  list-style: none;
  font-family: monospace;
}
#dataexplorer .data_container .queries_list li {
  padding: 0px 0px 0px 7px;
  margin: 0px;
  border-left: 1px solid #ccc;
}
#dataexplorer .data_container .queries_list .query_element {
  width: 300px;
  overflow: hidden;
}
#dataexplorer .data_container .queries_list .namespace_element {
  padding: 0px 0px 0px 7px;
  margin: 0px;
  border-left: 1px solid #ccc;
  width: 300px;
  overflow: hidden;
}
#dataexplorer .result_view .error {
  font-family: 'Open Sans', sans-serif;
}
#dataexplorer .result_view .error_details {
  font-family: 'Inconsolata', monospace;
  padding: 7px 10px;
  border: 1px solid #CCC;
  border-radius: 3px;
  background: #EEE;
}
#dataexplorer .result_view .query {
  font-family: 'Inconsolata', monospace;
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #eee;
}
#dataexplorer .result_view .results_header .options_container {
  float: right;
}
#dataexplorer .result_view .results_header .options_container .change_size {
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
#dataexplorer .result_view .results_header .options_container .change_size:hover,
#dataexplorer .result_view .results_header .options_container .change_size:active,
#dataexplorer .result_view .results_header .options_container .change_size.active,
#dataexplorer .result_view .results_header .options_container .change_size.disabled,
#dataexplorer .result_view .results_header .options_container .change_size[disabled] {
  background-color: #e6e6e6;
}
#dataexplorer .result_view .results_header .options_container .change_size:active,
#dataexplorer .result_view .results_header .options_container .change_size.active {
  background-color: #cccccc \9;
}
#dataexplorer .result_view .results_header .query_executed {
  font-family: 'Open Sans', sans-serif;
  word-wrap: break-word;
}
#dataexplorer .result_view .results_header .metadata {
  font-family: 'Open Sans', sans-serif;
}
#dataexplorer .result_view .more_results {
  width: 100%;
  text-align: right;
  display: none;
}
#dataexplorer .result_view .more_results .more_results_paragraph {
  margin-right: 100px;
  font-family: 'Open Sans', sans-serif;
}
#dataexplorer .change_view_container {
  margin: 0px;
  padding: 0px 10px 0px 0px;
  width: 100%;
}
#dataexplorer .helper_view {
  overflow: auto;
}
#dataexplorer .nav-tabs > li {
  float: right;
}
#dataexplorer .tab-pane {
  display: none;
  font: 'Inconsolata', monospace;
}
#dataexplorer .active {
  display: block;
}
#dataexplorer .results {
  width: 100%;
  margin: 15px 0px 0px 0px;
  padding: 0px;
  overflow: auto;
}
#dataexplorer .results .tree_view {
  padding: 20px;
  overflow: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid #e3e3e3;
  background: #f8f8f8;
  -webkit-box-shadow: inset 0 3px 3px -3px #dddddd;
  -moz-box-shadow: inset 0 3px 3px -3px #dddddd;
  box-shadow: inset 0 3px 3px -3px #dddddd;
}
#dataexplorer .results .json_tree {
  float: left;
  font: 13px/18px monospace, mono, consolas;
  /*.jt_b{ font-weight: bold; }*/

}
#dataexplorer .results .json_tree .jt_null {
  color: #ff0000;
}
#dataexplorer .results .json_tree .jt_bool {
  color: #ee00ff;
}
#dataexplorer .results .json_tree .jt_num {
  color: blue;
}
#dataexplorer .results .json_tree .jt_link {
  text-decoration: none;
  color: #000;
}
#dataexplorer .results .json_tree .jt_url {
  color: #08c;
}
#dataexplorer .results .json_tree .jt_email {
  color: #08c;
}
#dataexplorer .results .json_tree .jt_string {
  padding: 2px 0px;
  color: green;
}
#dataexplorer .results .json_tree .jt_close {
  margin-left: 24px;
}
#dataexplorer .results .json_tree .jt_array {
  list-style: none;
  margin-left: 7px;
  padding-left: 19px;
  border-left: 1px dotted #bbb;
}
#dataexplorer .results .json_tree .jt_object {
  list-style: none;
  margin-left: 7px;
  padding-left: 19px;
  border-left: 1px dotted #bbb;
}
#dataexplorer .results .json_tree .jt_arrow {
  width: 15px;
  height: 15px;
  margin: 3px 2px 0px 2px;
  float: left;
  display: block;
  background: url('../../images/arrow_down.gif') no-repeat;
}
#dataexplorer .results .json_tree .jt_arrow_hidden {
  background: url('../../images/arrow_right.gif') no-repeat;
}
#dataexplorer .results .json_tree .jt_points {
  display: none;
}
#dataexplorer .results .json_tree .jt_points_collapsed {
  display: inline;
}
#dataexplorer .results .json_tree .jt_collapsed {
  display: none;
}
#dataexplorer .results .json_tree .jt_b_collapsed {
  display: inline;
  margin-left: 0px;
}
#dataexplorer .results .json_table_container {
  overflow: auto;
  width: 888px;
}
#dataexplorer .results .json_table_container .json_table {
  font: 13px/18px monospace, mono, consolas;
  padding: 0px;
  margin: 0px 0px 15px 0px;
  table-layout: fixed;
  white-space: nowrap;
  border-spacing: 0px;
  border-collapse: collapse;
}
#dataexplorer .results .json_table_container .json_table .td_attr {
  color: #000;
  background: #f1f1f1;
  -webkit-box-shadow: inset 0 4px 4px -4px #ffffff;
  -moz-box-shadow: inset 0 4px 4px -4px #ffffff;
  box-shadow: inset 0 4px 4px -4px #ffffff;
}
#dataexplorer .results .json_table_container .json_table .jta_undefined {
  color: #ccc;
}
#dataexplorer .results .json_table_container .json_table .jta_null {
  color: #ff0000;
}
#dataexplorer .results .json_table_container .json_table .jta_bool {
  color: #ee00ff;
}
#dataexplorer .results .json_table_container .json_table .jta_num {
  color: blue;
}
#dataexplorer .results .json_table_container .json_table .jta_link {
  text-decoration: none;
  color: #000;
}
#dataexplorer .results .json_table_container .json_table .jta_url {
  color: #08c;
}
#dataexplorer .results .json_table_container .json_table .jta_email {
  color: #08c;
}
#dataexplorer .results .json_table_container .json_table .jta_string {
  color: green;
}
#dataexplorer .results .json_table_container .json_table .jta_object {
  vertical-align: top;
  display: inline-block;
}
#dataexplorer .results .json_table_container .json_table td {
  max-width: 145px;
  padding: 0px 5px 0px 0px;
  vertical-align: top;
  border: 1px solid #dfdfdf;
  overflow: hidden;
  cursor: e-resize;
  background: #fff;
}
#dataexplorer .results .json_table_container .json_table .jta_attr {
  padding: 7px 10px 5px 15px;
  cursor: auto;
}
#dataexplorer .results .json_table_container .json_table .jta_value {
  cursor: auto;
  padding: 7px 0px 5px 15px;
  max-width: 125px;
  overflow: hidden;
}
#dataexplorer .results .json_table_container .json_table .jta_array {
  padding: 7px 0px 5px 0px;
}
#dataexplorer .results .json_table_container .json_table .jta_arrow {
  width: 15px;
  height: 15px;
  margin: 3px 2px 0px 2px;
  display: block;
}
#dataexplorer .results .json_table_container .json_table .jta_arrow_v {
  background: url('/images/arrow_down.gif') no-repeat;
  float: left;
}
#dataexplorer .results .json_table_container .json_table .jta_arrow_h {
  background: url('/images/arrow_right.gif') no-repeat;
  float: right;
}
#dataexplorer .results .json_table_container .resizing {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#dataexplorer .results .raw_view_container {
  padding: 5px;
}
#dataexplorer .results .raw_view_container .raw_view_textarea {
  width: 100%;
  height: auto;
  padding: 4px;
  margin: 0px 0px 0px -5px;
}

