#header {
  padding: 40px 0;
  border-top: 7px solid #0597d8;
  background-image: url('../../images/header_bg_tile.png');
  color: #D6DCDF;
  /*
    Removed because our download button is an image. Replace with CSS3 button.
    p.download {
        background: @blue_highlight;
        padding: 18px 0;
        font-family: @istok;
        font-weight: bold;
        text-align: center;
        margin-left: 110px;
        a { 
            color: #FFF;
            text-transform: uppercase;
        }
    }
    */

}
#header strong em {
  color: white;
}
#header .row.logo_and_links {
  margin-bottom: 25px;
}
#header .row.logo_and_links .blue_highlight {
  color: #0597d8;
}
#header .row.logo_and_links h1 {
  font-family: 'Droid Serif', serif;
}
#header .row.logo_and_links ul.links {
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
  list-style-type: none;
  margin: 10px 0;
  margin-top: 18px;
}
#header .row.logo_and_links ul.links li {
  display: inline-block;
  border-left: thin solid #545454;
  padding-left: 20px;
  margin-left: 20px;
}
#header .row.logo_and_links ul.links li:first-child {
  border-left: none;
  margin-left: 0;
}
#header .row.logo_and_links .social_icons {
  float: right;
  margin-top: 10px;
}
#header p.tagline {
  font-family: 'Droid Serif', serif;
  font-size: 20pt;
  line-height: 28pt;
}
#header .action_items {
  width: 190px;
  float: right;
}
#header .action_items img {
  margin-bottom: 5px;
}
#header .action_items p.release_version {
  color: #BBB;
  font-family: 'Droid Serif', serif;
  font-size: 10pt;
  text-align: center;
}
#second_header {
  padding: 35px 0;
  background-color: #F2F2F2;
  border-bottom: thin solid #E5E5E5;
}
#second_header a {
  color: #f39e57;
}
#second_header h3 {
  font-family: 'Droid Serif', serif;
  font-size: 18pt;
  line-height: 24pt;
}
#second_header p {
  font-family: 'Droid Serif', serif;
  line-height: 18pt;
}
#second_header p a {
  color: #333;
  border-bottom: thin dotted #888;
}
#second_header p a:hover {
  text-decoration: none;
}
#second_header #try_it_term {
  overflow: hidden;
}
#features {
  padding: 50px 0;
}
#features .row {
  margin-bottom: 30px;
}
#features .feature img {
  float: left;
}
#features .feature h3 {
  font-family: 'Droid Serif', serif;
  font-size: 16pt;
  line-height: 20pt;
  color: #0496d7;
  margin-left: 50px;
  margin-top: 0;
}
#features .feature p {
  color: #4C4C4C;
  font-family: 'Lato', sans-serif;
  line-height: 18pt;
  margin-left: 50px;
}
#features .feature p a {
  color: #4C4C4C;
}
#try_it_term {
  border: thin solid #CCC;
}
