Package: rethinkdb
Version: VERSION
Architecture: amd64
Maintainer: Package Maintainer <support@rethinkdb.com>
Installed-Size: DISK_SIZE
Pre-Depends: adduser (>= 3.40)
Depends: libc6 (>= 2.7), libaio1 (>= 0.3.107) 
Recommends: 
Section: database
Priority: optional
Homepage: http://rethinkdb.com/
Description: Persistent storage engine using the memcache protocol
 RethinkDB is a key-value storage system designed for persistent
 data.
 .
 It conforms to the memcache text protocol, so any memcached client
 can have connectivity with it.
