<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RethinkDB AMI Setup</title>
        <link rel="stylesheet" media="screen" href="/assets/ami.css">
        <link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="sticky-wrap">
            <div id="navbar-container">
                <div id="navbar" class="container">
                    <ul class="nav-left">
                        <li id="nav-logo"><a href="#">Rethink<span class="highlight">DB</span></a></li>
                    </ul>
                </div>
            </div>
            <div id="main-container">
                <div id="cluster" class="container">{{ content }}</div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <ul>
                    <li><a href="http://rethinkdb.com/docs/">Documentation</a></li>
                    <li><a href="http://rethinkdb.com/api/">API</a></li>
                    <li><a href="http://groups.google.com/group/rethinkdb">Google Groups</a></li>
                    <li><a href="irc://chat.freenode.net/#rethinkdb">#rethinkdb on freenode</a></li>
                    <li><a href="https://github.com/rethinkdb/rethinkdb/issues">Github</a></li>
                    <li><a href="http://rethinkdb.com/community/">Community</a></li>
                </ul>
            </div>
        </div>

    </body>
</html>
