// CSS Reset
@import "bootstrap/reset.less";

// Core variables and mixins
@import "bootstrap/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "bootstrap/mixins.less";

// Grid system and page structure
@import "bootstrap/scaffolding.less";
@import "bootstrap/grid.less";
@import "bootstrap/layouts.less";

// Components
@import "bootstrap/modals.less";
@import "bootstrap/tooltip.less";
@import "bootstrap/popovers.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/forms.less";

// Utility classes
@import "bootstrap/utilities.less"; // Has to be last to override when necessary

@accent: #0597d8;
@sans: 'Istok Web', sans-serif;
@serif: 'Copse', serif;

// Visualizations (graphs, etc.)
@import "vis.less";

/* 
    ----------------------------------------------------------------------
    Sticky footer and 100% height
        - Uses Adham Dannaway's sticky footer approach (adhamdannaway.com)
    ----------------------------------------------------------------------
*/
html, body { height: 100%; }
#sticky-wrap { min-height: 100%; }
#main-container {
    overflow: auto;
    padding-bottom: 95px;
}
#footer {
    position: relative;
    margin-top: -95px;
    height: 60px;
    clear: both;
}
/* Opera fix */
body:before {
    content:"";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}

/*
    ----------------------------
    Main content
    ----------------------------
*/
#sticky-wrap {
    background: #ebebeb;
}
#main-container {
    padding-top: 30px;
    
    .section {
       padding: 20px 25px; 
       background: #fcfcfc;
       border: thin solid #cfcfcf;
       margin-bottom: 25px;

       @shadow: 0 1px 0 rgba(255, 255, 255, 0.02), 0 1px 3px rgba(0, 0, 0, 0.08);

        -webkit-box-shadow: @shadow;
           -moz-box-shadow: @shadow;
                box-shadow: @shadow;

        .border-radius(4px);

        h2.title {
            margin-top: 0;
            font-family: @serif;
            color: #a3a3a3;
            font-size: 19px;
            margin-bottom: 20px;
        }

        p {
            font-family: @serif;
        }
    }
}
#navbar-container{
    width: 100%;
    border-top: 4px @accent solid;
    background: #2f2f30;
}
/*
    ----------------------------
    Footer
    ----------------------------
*/
#footer {
    background-color: #e5e5e5;
    color: #a3a3a3;
    font-family: @serif;
    font-size: 14px;
    padding-top: 30px;
    border-top: thin solid #d0d0d0;
    ul {
        float: left;
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            display: inline-block;
            margin-right: 25px;
        }
    }

    p.copyright { 
        float: right;
        margin: 0;
    }
}

/*
    ----------------------------
    Navbar at the top
    ----------------------------
*/
#navbar {
    font-family: @sans;
    @text_shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    
    /* left nav (logo, links, etc.) */
    ul.nav {
        margin: 0;
        padding: 0;
        float: left;
        li {
            font-size: 15px;
            display: inline-block;
            padding-right: 10px;
            padding-left: 10px;
            vertical-align: middle;
            text-shadow: @text_shadow;
            margin-left: -2px;

            @fancy_dividers: -1px 0 0 rgba(0, 0, 0, .30), 1px 0 0 rgba(255, 255, 255, .05);
            -webkit-box-shadow: @fancy_dividers;
               -moz-box-shadow: @fancy_dividers;
                    box-shadow: @fancy_dividers;
            a {
                padding: 21px 16px;
                color: #ababab;
                display: block;
                &:hover {
                    text-decoration: none;
                    color: white;
                }
            }
            &#nav-logo {
                padding-left: 0;
                a {
                    font-family: @serif;
                    font-size: 22px;
                    font-weight: bold;
                    color: white;
                    padding-left: 0;
                    span.highlight { color: @accent; }
                }
            }
            &.active {
                background: #222;
                a { color: white; }
            }
        }
    }
    /* right nav (search) */
    .right-nav {
        margin: 0;
        padding: 0;
        float: right;
    }

    #nav-search {
        input[type="text"] {
            font-size: 15px;
            color: white;
            border: 0 none;

            text-shadow: @text_shadow;
            margin-top: 13px;
            padding: 6px 12px 6px 40px;
            width: 150px;
            .border-radius(18px);
            /*#gradient.vertical(rgba(255,255,255,0.03),rgba(0,0,0,0.03));
            background-color: rgba(28,28,39,1); */
            background: url(https://dl.dropbox.com/s/3hpw8o66ukrh138/icon-magnifying_glass.png) no-repeat 12px rgba(28,28,39,1);

            /*#gradient.vertical(rgba(28,28,39,1), rgba(35, 35, 36, 1));*/

            @inset_shadow: 0 1px 0 rgba(255, 255, 255, 0.08), 0 1px 3px rgba(0, 0, 0, 0.3) inset;

            -webkit-box-shadow: @inset_shadow;
               -moz-box-shadow: @inset_shadow;
                    box-shadow: @inset_shadow;

        }
    }
}

/*
    ----------------------------
    Status bar at the top
    ----------------------------
*/
#sidebar {
    background: #e1e1e1;
    border-bottom: thin solid #d0d0d0;
    .cluster-status { padding: 20px 0; }
    .panel {
        padding-left: 60px;
        height: 47px;
        h5 {
            font-family: @sans;
            font-size: 14px;
            line-height: 15px;
            margin: 0;
            padding: 0;
            margin-bottom: 4px;
            color: #909090;
        }

        h4 {
            font-family: @serif; 
            font-size: 18px;
            line-height: 24px;
            margin: 0;
            padding: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: #4d535c;
        }
    }

    .client-connection-status { background: url('https://dl.dropbox.com/s/fpiswm98f9wx8ff/status_panel-icon_1.png') no-repeat left center; }
    .no-issues { background: url('https://dl.dropbox.com/s/ugca6ovxajdja65/status_panel-icon_2.png') no-repeat left center; }
    .has-issues { background: url('https://dl.dropbox.com/s/0737jaigqxo8dgj/status_panel-icon_2-error.png') no-repeat left center; }
    .servers-connected { background: url('https://dl.dropbox.com/s/wdn0nvzq2c85zvm/status_panel-icon_3.png') no-repeat left center; }
    .datacenters-connected { background: url('https://dl.dropbox.com/s/k6nl8f6qzmjyabc/status_panel-icon_4.png') no-repeat left center; }

    .issues-banner {
        background-color: #db4947;
        color: #FFF;
        .show-issues-banner { margin-bottom: 9px; }
        .message { line-height: 52px; }

        // This might have to be abstracted as a general button style (add some shadows and gradients when ready)
        .btn.resolve-issues {
            float: right;
            margin-left: 20px;
            margin-top: 11px;
            padding: 6px 14px 4px;
            margin-bottom: 0;
            vertical-align: middle;

            font-size: 13px;
            font-family: @sans;
            color: #FFF;
            text-align: center;

            background-color: #eb5d5b;
            border: thin solid #b8302e; 
            .border-radius(3px);

            @shadow: 0 1px 0 rgba(255, 255, 255, 0.02), 0 1px 3px rgba(0, 0, 0, 0.06);

            -webkit-box-shadow: @shadow;
               -moz-box-shadow: @shadow;
                    box-shadow: @shadow;
        }
        .show-issues-banner:after {
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;

            pointer-events: none;
            border-top-color: #db4947;
            border-width: 12px;
            left: 50%;
            margin-left: -220px;
        }
    }
}

/*
    ----------------------------
    Dashboard
    ----------------------------
*/
#dashboard {
    #cluster_status_container { padding: 0; }
    .cluster-status table { 
        border-spacing: 0;
        width: 100%;
    }
    .cluster-status td.panel {
        @bad: #e85250;
        @good: #3ba51a;

        border-left: thin solid #dfdfdf;
        padding: 20px;
        width: 25%;
        vertical-align: top;

        h3 {
            margin-top: 0;
            margin-bottom: 10px;
            font-family: @serif;
            font-size: 17px;
            color: #4c4c4c;
            padding-left: 21px;
        }
        &.no-problems-detected h3 { background: 0 3px no-repeat url('https://dl.dropbox.com/s/vgdhxkfem0856ge/green-light.png'); }
        &.problems-detected h3 { background: 0 3px no-repeat url('https://dl.dropbox.com/s/pdoclcb9e7u8k4b/red-light.png'); }

        p {
            font-family: @sans;
            font-size: 14px;
            line-height: 22px;
            margin: 0;
            color: #4c4c4c;
            span.good { color: @good; }
            span.bad { color: @bad; }
            span.good, span.bad { font-weight: bold; }
        }

        &.first { border-left: none; }
    }
    #recent_logs_container {
        // This might have to be abstracted as a general button style (add some shadows and gradients when ready)
        .btn.view-logs {
            float: right;
            padding: 6px 14px 4px;
            margin-bottom: 0;
            vertical-align: middle;

            font-size: 13px;
            font-family: @sans;
            color: #FFF;
            text-align: center;

            background-color: #509ecb;
            border: thin solid #509ecb; 
            .border-radius(3px);

            @shadow: 0 1px 0 rgba(255, 255, 255, 0.02), 0 1px 3px rgba(0, 0, 0, 0.06);

            -webkit-box-shadow: @shadow;
               -moz-box-shadow: @shadow;
                    box-shadow: @shadow;

        }
        .recent-log-entries-container { margin-bottom: 5px; }
        ul.recent-log-entries {
            list-style-type: none;
            padding-left: 0;

            li.log-entry {
                color: #4d535c;
                border-top: thin solid #f0f0f0;
                background: left center no-repeat url('https://dl.dropbox.com/s/aintt5c3jlkd495/pencil_icon.png');
                padding: 20px 0 20px 55px;
                p { margin: 0; }
                .message { font-size: 16px; }
                .from-machine {
                    font-style: italic;
                    font-family: @sans;
                    margin-top: 5px;
                    font-size: 13px;
                }
                .datetime {
                    background: left center no-repeat url('https://dl.dropbox.com/s/n4vco90l6fy3i9z/clock-icon.png');
                    text-align: right;
                    color: #c4c4c4;
                }
            }
        }
    }
}


/*
    ----------------------------
    Server list and table list
    ----------------------------
*/
// Get ready to abstract this for use in the server list AND table list TODO
#server-list, #table-list {
    // This might have to be abstracted as a general button style (add some shadows and gradients when ready)
    .btn {
        display: inline-block;
        padding: 6px 14px 5px;
        margin-bottom: 0;
        margin-left: 7px;
        vertical-align: middle;

        font-size: 14px;
        font-family: @sans;
        font-weight: 700;
        color: #464646;
        line-height: 18px;
        text-align: center;

        background-color: #f9f9f9;
        border: thin solid #cbcbcb; 
        .border-radius(4px);

        @shadow: 0 1px 0 rgba(255, 255, 255, 0.02), 0 1px 3px rgba(0, 0, 0, 0.06);

        -webkit-box-shadow: @shadow;
           -moz-box-shadow: @shadow;
                box-shadow: @shadow;

        &.disabled {
            opacity: 0.65;
            .box-shadow(none);
        }
    }
    h1.title {
        font-family: @serif;
        color: #4d535c;
        font-size: 19px;
        margin-bottom: 25px;
    }

    .actions-bar { float: right; }

    .section {
        padding: 0;
        .header_container {
            border-bottom: thin solid #CCC;
            padding: 13px 15px;
            background: #fff;
            .border-radius(4px 4px 0px 0px);

            .summary {
                .element-type, h3.name { 
                    display: inline-block;
                    vertical-align: middle;
                }
                .element-type {
                    background: #f7ae41;
                    .border-radius(2px);
                    padding: 4px 15px;
                    text-transform: uppercase;
                    margin-right: 20px;
                    color: #fff;
                    font-size: 10px;
                    font-weight: 700
                }
                h3.name {
                    font-family: @serif;
                    font-size: 17px;
                    color: #61666e;
                    margin: 0;
                    a { color: #61666e; }
                }
                .buttons {
                    float: right;
                    margin-top: -2px;
                }
            }
        }

        .element-list-container {
            padding: 0px 13px 12px 13px;
            background: #fafafa;
            .border-radius(0px 0px 4px 4px);
        }

        .element {
            @bar_height: 44px;
            height: @bar_height;
            background: #FFF;
            border: thin solid #cfcfcf;
            .border-radius(3px);
            margin-top: 12px;
        
            @shadow: 0 1px 0 rgba(255, 255, 255, 0.02), 0 1px 3px rgba(0, 0, 0, 0.08);

            -webkit-box-shadow: @shadow;
               -moz-box-shadow: @shadow;
                    box-shadow: @shadow;

            .checkbox-container {
                float: left;

                label {
                    display: inline;
                    margin: 14px;
                }
                input[type="checkbox"] { display: none; }

                input[type="checkbox"] + label {
                    border: thin solid #cfcfcf;
                    .border-radius(3px);
                    padding: 7px;
                    display: inline-block;
                    position: relative;
                    &:active { box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1); }
                }
                input[type="checkbox"]:checked + label:after {
                    content: '\2714';
                    font-size: 15px;
                    position: absolute;
                    top: -2px;
                    left: 1px;
                    color: #7c7c7c;
                }
            }

            .element-details { 
                position: relative;
                margin-left: 45px;

                @border_padding: 20px;

                p {
                    margin: 0;
                    font-family: @sans;
                }
                .name, .quick_info, .status {
                    @offset: 8px;
                    position: absolute;
                    line-height: @bar_height - @offset*2;
                    margin-top: @offset;
                    border-left: thin solid #e4e4e4;
                }
                .name {
                    background: @border_padding center no-repeat url('https://dl.dropbox.com/s/q9ifud52cq0p00p/server-icon.png');
                    padding-left: 38px + @border_padding;
                    a { color: #0597d8; }
                    font-size: 16px;
                    font-weight: bold;
                }
                .quick_info {
                    right: 150px;
                    background: @border_padding center no-repeat url('https://dl.dropbox.com/s/mentx127cdmq08s/graph-icon.png');
                    color: #626264;
                    padding-left: 30px + @border_padding;
                }
                .status {
                    right: 0;
                    padding-right: 20px;
                    color: #818181;
                    .label-success {
                        background: @border_padding center no-repeat url('https://dl.dropbox.com/s/rbv9luv0kmy1uz0/green-light_glow.png');
                        padding-left: 23px + @border_padding;
                    }
                }

            }
        }
    }
}


/*
    ----------------------------
    Log view
    ----------------------------
*/

#log-view {
    ul.log-entries {
        list-style-type: none;
        padding-left: 0;

        li.log-entry {
            color: #4d535c;
            border-top: thin solid #f0f0f0;
            background: left center no-repeat url('https://dl.dropbox.com/s/aintt5c3jlkd495/pencil_icon.png');
            padding: 20px 0 20px 55px;
            p { margin: 0; }
            .message { font-size: 16px; }
            .from-machine {
                font-style: italic;
                font-family: @sans;
                margin-top: 5px;
                font-size: 13px;
            }
            .datetime {
                background: left center no-repeat url('https://dl.dropbox.com/s/n4vco90l6fy3i9z/clock-icon.png');
                text-align: right;
                color: #c4c4c4;
            }
        }
    }
}

/*
    ----------------------------
    Data explorer 
    ----------------------------
*/
#dataexplorer{
    margin: 0px;
    overflow: auto;
    .query_control{
        .input_query_container{
            padding: 0px;
            margin: 10px 0px;
            overflow: auto;
            .input_query{
                width: 908px;
                min-height: 36px;
                padding: 4px 10px;
                overflow: hidden;
            }
            .button_container{
                overflow: auto;
                margin: 0px 0px 5px 0px;
                .button_query{
                    float: right;
                    width: 80px;
                    margin-left: 10px;
                }
            }
            .suggestion_full_container{
                /*
                position: absolute;
                width: 700px;
                background: #ffffff;
                */
                .suggestion_name_list{
                    display: none;
                    padding: 0px;
                    margin: 0px 0px 9px 0px;
                    border: 1px solid #ddd;
                    .suggestion_name_li{
                        display: inline-block;
                        margin: 0px;
                        padding: 5px 5px;
                        min-width: 103px;
                        min-height: 18px;
                        cursor: pointer;
                    }
                    .suggestion_name_li_hl{
                        color: red;
                    }
                }
                .suggestion_description{
                    display: none;
                    padding: 5px;
                    margin: 0px 0px 9px 0px;
                    border: 1px solid #ddd;
                }
            }
        }
        .loading_query{
            text-align: center;
            height: 16px;
            width: 16px;
            padding: 0px;
            margin: 0px auto 10px auto;
            .loading_query_img{
                display: none;
            }
        }
    }
    .data_container{
        .results_header{
            overflow: hidden;
        }
        .namespaces_available_container{
            float: left;
            width: 330px;
            padding: 20px 10px 10px 10px;
            h4 {
                margin: 7px 0px 5px 0px;
            }
        }
        .history_queries{
            float: left;
            width: 330px;
            padding: 20px 10px 10px 10px;
        }
        .queries_list{
            margin: 0px;
            list-style: none;
            font-family: monospace;
            li{
                padding: 0px 0px 0px 7px;
                margin: 0px;
                border-left: 1px solid #ccc;
            }
            .query_element{
                width: 300px;
                overflow: hidden;
            }
            .namespace_element{
                padding: 0px 0px 0px 7px;
                margin: 0px;
                border-left: 1px solid #ccc;

                width: 300px;
                overflow: hidden;
            }
        }
    }
    .options_container{
        float: right;
    }
    .change_view_container{
        margin: 0px;
        padding: 0px 10px 0px 0px;
        width: 100%;
    }
    .helper_view{
        overflow: auto;
    }
    .nav-tabs > li {
        float: right;
    }
    .query{
        font-family: monospace;
        padding: 7px 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background: #eee;
    }

    .pagination_container{
        display: none;
        overflow: auto;
        width: 700px;
        .classic_navigation_container{
            float: left;
            width: 700px;
            overflow: auto;
            margin: 10px 0px 0px 0px;
            .goto_previous_container{
                float: left;
                overflow: auto;
                width: 70px;
            }
            .manual_jump{
                width: 460px;
                margin: 0px auto 0px auto;
                padding: 3px 0px 0px 0px;
                text-align: center;
                .limit_value, .skip_value{
                    width: 20px;
                    padding: 3px 4px;
                    margin: 0px;
                }
            }
            .goto_next_container{
                float: right;
                overflow: auto;
                width: 70px;
            }
            .goto_first, .goto_previous, .goto_next, .goto_last{
                float: left;
                padding: 3px 4px;
                margin: 3px 3px;
                .border-radius(3px 3px 3px 3px);
            }
            .display_button{
                display: inline-block;
            }
        }
        .jump_container{
            float: right;
            text-align: right;
            width: 100px;
            margin: 0px;
            .jump_page{
                width: 40px;
                padding: 3px 4px;
                margin: 3px 0px 0px 0px;
            }
        }
    }
    .results{
        width: 700px;
        margin: 15px 0px 0px 0px;
        overflow: auto;
        .json_tree{
            float: left; // Clear the horizontal arrow
            font: 13px/18px monospace,mono,consolas;
            .jt_null{
                font-weight: bold;
                color: red
            }
            .jt_bool{
                font-weight: bold;
                color: blue;
            }
            .jt_num{
                font-weight: bold;
                color: blue;
            }
            .jt_link{
                font-weight: bold;
                text-decoration: none;
                color: #000;
            }
            .jt_url{
                color: #08c;
            }
            .jt_email{
                color: #08c;
            }
            .jt_string{
                padding: 2px 0px;
                color: green;
            }
            .jt_b{
                font-weight: bold;
            }
            .jt_close{
                margin-left: 24px;
            }
            .jt_array{
                list-style: none;
                padding-left: 19px;
                border-left: 1px dotted #bbb;
            }
            .jt_object{
                list-style: none;
                padding-left: 19px;
                border-left: 1px dotted #bbb;
            }
            .jt_arrow{
                width: 15px;
                height: 15px;
                margin: 3px 2px 0px 2px;
                float: left;
                display: block;
                background: url('/images/arrow_down.gif') no-repeat;
            }
            .jt_arrow_hidden{
                background: url('/images/arrow_right.gif') no-repeat;
            }
            .jt_points{
                display: none;
            }
            .jt_points_collapsed{
                display: inline;
            }
            .jt_collapsed{
                display: none;
            }
            .jt_b_collapsed{
                display: inline;
                margin-left: 0px;
            }   
        }
        .json_table_container{
            .json_table{
                font: 13px/18px monospace,mono,consolas;
                padding: 0px;
                margin: 0px 0px 15px 0px;
                table-layout: fixed;
                white-space: nowrap;
                .td_attr{
                    background: #d3dce3;
                }
                .jta_undefined{
                    color: #ccc;
                }
                .jta_null{
                    font-weight: bold;
                    color: red
                }
                .jta_bool{
                    font-weight: bold;
                    color: blue;
                }
                .jta_num{
                    font-weight: bold;
                    color: blue;
                }
                .jta_link{
                    font-weight: bold;
                    text-decoration: none;
                    color: #000;
                }
                .jta_url{
                    color: #08c;
                }
                .jta_email{
                    color: #08c;
                }
                .jta_string{
                    color: green;
                }
                .jta_object{
                    vertical-align: top;
                    display: inline-block;
                }
                td{
                    max-width: 145px;
                    padding: 0px 5px 0px 0px;
                    vertical-align: top;
                    border: 1px solid #333;
                    overflow: hidden;
                    cursor: e-resize
                }
                .jta_attr{
                    padding: 7px 10px 5px 15px;
                    font-weight: bold;
                    cursor: auto;
                }
                .jta_value{
                    cursor: auto;
                    padding: 7px 0px 5px 15px;
                    max-width: 125px; // smaller margin on the right in case of overflow
                    overflow: hidden;
                }
                .jta_array{
                    padding: 7px 0px 5px 0px;
                }
                .jta_arrow{
                    width: 15px;
                    height: 15px;
                    margin: 3px 2px 0px 2px;
                    display: block;
                }
                .jta_arrow_v{
                    background: url('/images/arrow_down.gif') no-repeat;
                    float: left;
                }
                .jta_arrow_h{
                    background: url('/images/arrow_right.gif') no-repeat;
                    float: right;
                }
            }
            .resizing{
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }
        .raw_view_textarea{
            width: 690px;
            height: auto;
        }
    }
}


/*
    ----------------------------
    Development tools
    ----------------------------
*/
#dev-tools {
    display: none;
    #translucent > .background(#000, 0.1);
    border: thin solid #BBB;
    padding: 10px 15px 20px 30px;
    position: absolute;
    right: 0;
    width: 190px;
    z-index: 1000;
    .btn {
        line-height: 16px;
        margin: 5px 0px;
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
        width: 150px;
    }
}
