#!/usr/bin/make -f
# Copyright 2013 hello-debhelper project (used according to license) with modifications by RethinkDB

package?=$(shell cat debian/control | grep '^Source:' | awk '{ printf "%s" , $$2 }')

PVERSION?=$(shell cat debian/control | grep '^Version: ' | head -n 1 | awk '{ printf "%s" , $$2 }')

DEBUG?=0

clean:
	dh_clean
	if [ -e build ] ; then rm -rf build ; fi ;
	[ ! -f Makefile ] || $(MAKE) distclean

install: build
	dh_clean
	dh_installdirs
	$(MAKE) DEBUG=$(DEBUG) DESTDIR=$(CURDIR)/debian/$(package) PVERSION=$(PVERSION) install

build:
	$(MAKE) DEBUG=$(DEBUG) PVERSION=$(PVERSION) VERBOSE=1
	touch build

binary-indep: install

binary-arch: install
	dh_installdocs -a
	dh_installchangelogs -a
	dh_strip --dbg-package=$(package)-dbg
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean install build

