{
  "extends": "standard",
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "globals": {
    "GENTLY": true
  },
  "rules": {
    "no-multi-spaces": 0,
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "key-spacing": [
      "error",
      {
        "multiLine": {
          "beforeColon": false,
          "afterColon": true
        },
        "align": {
          "beforeColon": false,
          "afterColon": true,
          "on": "colon",
          "mode": "strict"
        }
      }
    ]
  }
}
