<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>RethinkDB Administration</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="no-cache">
        <meta http-equiv="Expires" content="-1">
        <meta http-equiv="Cache-Control" content="no-cache">

        <link rel="stylesheet" type="text/css" href="gen/cluster.css" />

        <!-- handlebars templates -->
        <script id="navbar_view-template" type="text/x-handlebars-template">
          <div id="topbar" class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <a class="brand" href="#">RethinkDB Administration Console</a>
                <ul class="nav">
                  <li id="nav-dashboard"><a href="#dashboard">Dashboard</a></li>
                  <li id="nav-namespaces"><a href="#namespaces">Namespaces</a></li>
                  <li id="nav-datacenters"><a href="#datacenters">Datacenters</a></li>
                  <li id="nav-machines"><a href="#machines">Machines</a></li>
                </ul>

                <ul class="right-nav nav pull-right">
                  <li class="divider-vertical"></li>
                  <li>
                    <form class="navbar-search pull-right">
                      <input type="text" class="search-query" placeholder="Search" data-provide="typeahead">
                    </form>
                  </li>
                </ul>
              </div><!-- /container -->
            </div><!-- /navbar-inner -->
          </div><!-- /navbar -->
        </script>

        <script id="dashboard_view-template" type="text/x-handlebars-template">
            <h1>Cluster dashboard</h1>
            <div class="section">
              <div class="machines"></div>
              <div class="data-picker"></div>
            </div>
            <div class="visualizations section">
                <hr class="first" />
                <div class="row-fluid">
                    <div class="disk span6">
                        <h3 class="title">Disk usage</h3>
                        <div class="disk-usage"></div>
                    </div>
                    <div class="memory span6">
                        <h3 class="title">Memory usage</h3>
                        <div class="mem-usage"></div>
                    </div>
                </div>
                <hr />
                <h3 class="title">Cluster performance</h3>
                <div class="chart cluster-performance"></div>
            </div>
        </script>

        <script id="data_picker-template" type="text/x-handlebars-template">
            <ul class="nav nav-tabs">
                {{#each stream_filters}}
                <li class="{{#if this.selected}}active{{/if}}" data-filter="{{this.name}}"><a href="#">{{this.name}}</a></li>
                {{/each}}
            </ul>
            <div class="filter">
            </div>
        </script>

        <script id="vis_loading-template" type="text/x-handlebars-template">
            <div class="loading"><h4>Loading data...</h4><img src="/images/loading.gif" /></div>
        </script>

        <script id="data_stream_filter-template" type="text/x-handlebars-template">
            {{#each models}}
                <div class="model" style="background:{{this.color}}" data-id="{{this.id}}">
                    <input {{#if this.selected}}checked="true"{{/if}} type="checkbox" />
                    {{this.name}}
                </div>
            {{/each}}
        </script>

        <script id="vis-graph_stream_picker-template" type="text/x-handlebars-template">
            <form class="stream-picker">
            {{#each datastreams}}
                <div class="datastream" data-id="{{this.id}}">
                    <input {{#if this.selected}}checked="true"{{/if}} type="radio" name="graph-data-stream"/>
                    {{this.name}}
                </div>
            {{/each}}
            </form>
        </script>

        <script id="vis_no_data-template" type="text/x-handlebars-template">
            <p class="no-data">No data selected.</p>
        </script>

        <script id="data_stream_filter-template" type="text/x-handlebars-template">
            {{#each models}}
                <div class="model" style="background:{{this.color}}" data-id="{{this.id}}">
                    <input {{#if this.selected}}checked="true"{{/if}} type="checkbox" />
                    {{this.name}}
                </div>
            {{/each}}
        </script>

        <!-- Cluster view -->
        <script id="namespaces_container-template" type="text/x-handlebars-template">
            <h1>Namespaces overview</h1>
            <div id="user-alert-space"></div>
            <div id="namespaces-panel" class="rdb-content"></div>
        </script>

        <script id="datacenters_container-template" type="text/x-handlebars-template">
            <h1>Datacenters overview</h1>
            <div id="user-alert-space"></div>
            <div id="datacenters-panel" class="rdb-content"></div>
        </script>

        <script id="machines_container-template" type="text/x-handlebars-template">
            <h1>Machines overview</h1>
            <div id="user-alert-space"></div>
            <div id="machines-panel" class="rdb-content"></div>
        </script>

        <!-- Cluster view: lists -->
        <script id="cluster_view-abstract_list-template" type="text/x-handlebars-template">
            <div class="actions-bar">
            </div>
            <table class="table table-bordered table-striped" cellpadding="0" cellspacing="0">
                <tbody>
                </tbody>
            </table>
        </script>

        <script id="cluster_view-namespace_list-template" type="text/x-handlebars-template">
            <div class="actions-bar">
                <a href="#" class="btn add-namespace">Add namespace</a>
                <a href="#" class="btn for-multiple-elements disabled remove-namespace">Remove selected namespaces</a>
            </div>
            <table class="table table-bordered table-striped" cellpadding="0" cellspacing="0">
                <tbody>
                </tbody>
            </table>
        </script>

        <script id="cluster_view-datacenter_list-template" type="text/x-handlebars-template">
            <div class="actions-bar">
                <a href="#" class="btn add-datacenter">Add datacenter</a>
                <a href="#" class="btn for-multiple-elements disabled remove-datacenter">Remove selected datacenters</a>
            </div>
            <table class="table table-bordered table-striped" cellpadding="0" cellspacing="0">
                <tbody>
                </tbody>
            </table>
        </script>

        <script id="cluster_view-machine_list-template" type="text/x-handlebars-template">
            <div class="actions-bar">
                <a href="#" class="btn for-multiple-elements disabled set-datacenter">Set datacenter</a>
            </div>
            <table class="table table-bordered table-striped" cellpadding="0" cellspacing="0">
                <tbody>
                </tbody>
            </table>
        </script>

        <!-- Cluster view: list elements -->
        <script id="cluster_view-namespace_list_element-template" type="text/x-handlebars-template">
            <td>
                <input type="checkbox"></input>
            </td>
            <td class="details">
                <div class="details-wrapper"">
                    <span class="name"><a href="#namespaces/{{id}}">{{name}}</a></span>
                    <span class="protocol {{protocol}}">{{protocol}}</span>
                </div>
                <div class="clearboth"></div>
            </td>
        </script>

        <script id="cluster_view-datacenter_list_element-template" type="text/x-handlebars-template">
            <td>
                <input type="checkbox"></input>
            </td>
            <td class="details">
                <div class="details-wrapper"">
                    <span class="name"><a href="#datacenters/{{id}}">{{name}}</a></span>
                    <p class="details-text">
                       <span class="status">Status: {{status}} ({{reachable}} of {{total}} machines reachable)</span>
                    </p>
                </div>
                <div class="clearboth"></div>
            </td>
        </script>

        <script id="cluster_view-machine_list_element-template" type="text/x-handlebars-template">
            <td>
                <input type="checkbox"></input>
            </td>
            <td class="details">
                <div class="details-wrapper">
                    <span class="name"><a href="#machines/{{id}}">{{name}}</a></span>
                    <p class="details-text">
                       <span class="status">Status: {{status}}</span>
                       <span class="ip">IP: {{ip}}</span>
                       <span class="machine-datacenter">Datacenter: {{datacenter_name}}</span>
                    </div>
                </div>
                <div class="clearboth"></div>
            </td>
        </script>

        <!-- Namespace view -->
        <script id="namespace_view-container-template" type="text/x-handlebars-template">
            <h1>Namespace overview for {{name}}</h1>
            <div id="user-alert-space"></div>
            <h3 class="title">Namespace profile</h3>
            <div class="section summary">
                <p class="protocol">Protocol: {{protocol}}</p>
                <p class="port">Port: {{port}}</p>
            </div>
            <h3 class="title">Replication settings</h3>
            <div class="section replication"></div>
            <h3 class="title">Sharding settings</h3>
            <div class="section sharding"></div>
        </script>

        <script id="namespace_view-replica-template" type="text/x-handlebars-template">
            <table class="datacenters table">
                <tr>
                    <th>Name</th>
                    <th>Replicas</th>
                    <th>Write acks</th>
                    <th>Health</th>
                    <th>Command</th>
                </tr>
                <tr>
                    <td colspan="5"><strong>Primary datacenter</strong></td>
                </tr>
                {{#with primary }}
                <tr>
                    <td>{{name}}</td>
                    <td>{{replicas}}</td>
                    <td>{{acks}}</td>
                    <td><font color="green">ok</font></td>
                    <td><a id="edit-primary" href="#">Edit</a> | <a class="edit-machines {{this.id}}" href="#">Change machines</a></td>
                </tr>
                {{/with}}
                <tr>
                    <td colspan="5"><strong>Secondary datacenters</strong></td>
                </tr>
                {{#each secondaries}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{replicas}}</td>
                    <td>{{acks}}</td>
                    <td><font color="green">ok</td>
                    <td><a class="edit-secondary {{this.id}}" href="#">Edit</a> | <a class="edit-machines {{this.id}}" href="#">Change machines</a> | <a class="make-primary {{this.id}}" href="#">Make primary</a> | <a class="remove-secondary {{id}}" href="#">Remove</a></td>
                </tr>
                {{/each}}
            </table>
            <div id="add-secondary-datacenter">
                {{#if datacenters_left}}
                    <a id="add-secondary-datacenter-button" href="#">Add secondary</a>
                {{/if}}
                {{#unless datacenters_left}}
                    <p>We're replicating to all datacenters.</p>
                {{/unless}}
            </div>
        </script>

        <script id="add_secondary-modal-template" type="text/x-handlebars-template">
            <div class="modal add-secondary">
                <form class="form">
                    <div class="modal-header">
                        <h3>Add a secondary data center</h3>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <legend>Datacenter details</legend>
                            <div class="clearfix">
                                <label for="datacenter">Select a datacenter:</label>
                                <div class="input">
                                    <select class="datacenter" name="datacenter">
                                        {{#each datacenters}}
                                        <option value="{{this.id}}">{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button class="btn add-secondary" type="submit" name="add-secondary" value="Add secondary">Add secondary</button>
                        <a href="#" class="btn secondary cancel">Cancel</a>
                    </div>
                </form>
            </div>
        </script>

    <script id="modify_replicas-modal-template" type="text/x-handlebars-template">
    <div class="modal modify-replicas">
        <form class="form">
        <div class="modal-header">
            <a href="#" class="close">&times;</a>
            <h3>Replication for namespace <a href="/#namespaces/{{namespace.id}}">{{namespace.name}}</a> in datacenter <a href="/#datacenters/{{datacenter.id}}">{{datacenter.name}}</a></h3>
        </div>
        <div class="modal-body">
            <div class="replica-attributes">
                {{#if server_error}}
                    <p class="server-error alert alert-error"> {{server_error}} </p>
                {{/if}}
                <h4>Set the replica properties</h4>
                <div class="existing-replicas">
                    <p><strong>Current replicas:</strong> {{#comma_separated replica_machines}}<a href="/#machines/{{this.id}}">{{this.name}}</a>{{/comma_separated}}</p>
                </div>
                <div class="info">
                    <p>You can specify the <strong>number of replicas</strong> to use per shard for this datacenter.</p>
                    <p>The <strong>number of acks</strong> specifies how many replicas in this datacenter must acknowledge a write before an operation succeeds.</p>
                </div>
                <fieldset>
                    <input name="datacenter" type="hidden" value="{{datacenter.id}}" />
                    <div class="clearfix">
                    <label for="replicas">
                        <p>Number of replicas:</p>
                        <p class="current">Current replicas: {{num_replicas}}</p>
                    </label>
                    <div class="input">
                        <input class="xlarge" name="num_replicas" type="text" value="{{num_replicas}}"/>
                    </div>
                    </div>
                    <div class="clearfix">
                    <label for="acks">
                        <p>Number of acks from datacenter <a href="/#datacenters/{{datacenter.id}}">{{datacenter.name}}</a>:</p>
                        <p class="current">Current acks: {{num_acks}}</p>
                    </label>
                    <div class="input">
                        <input class="xlarge" name="num_acks" type="text" value="{{num_acks}}"/>
                    </div>
                    </div>
                </fieldset>
                <div class="clearboth"></div>
                </div>
                <div class="replica-plan">
            </div>
        </div>
        <div class="modal-footer">
                        <button class="btn primary commit-plan" type="submit" name="commit-plan" value="Commit plan">Commit changes</button>
            <a href="#" class="btn modify-replicas cancel">Cancel</a>
        </div>
        </form>
    </div>
    </script>

        <script id="modify_replicas_modal-replica_plan-template" type="text/x-handlebars-template">
            {{#with replicas }}
                {{#if adding}}
                    <h4 class="replicas">Adding {{num_changed}} replicas</h4>
                {{else}}
                    {{#if removing}}
                        <h4>Removing {{num_changed}} replicas</h4>
                    {{else}}
                        <h4>No replica changes</h4>
                    {{/if}}
                {{/if}}
                <table class="shards table">
                    <tbody>
                    </tbody>
                </table>
            {{/with}}
            {{#with acks }}
                <h5 class="acks">Replicas on this datacenter will require {{num}} acks.</h5>
            {{/with}}
        </script>

        <script id="namespace_view-sharding-template" type="text/x-handlebars-template">
            <table class="shards table">
                <tbody>
                    {{#each shards}}
                        <tr>
                            <td class="name"><h4>{{lower}} to {{upper}}</h4></td>
                            <td class="status">
                                <p>4 of 5 replicas live</p>
                                <p>50.3 GB of data in this shard</p>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <p><a class="edit" href="#">Change sharding scheme</a></p>
        </script>

        <script id="modify_shards_modal-template" type="text/x-handlebars-template">
            <div class="modal modify-shards">
                <form class="form">
                    <div class="modal-header">
                        <a href="#" class="close">&times;</a>
                        <h3>Sharding for namespace <a href="/#namespaces/{{namespace.id}}">{{namespace.name}}</a></h3>
                    </div>
                    <div class="modal-body">
                        <div class="sharding-scheme">
                            <h4>Define the sharding scheme:</h4>
                            <table class="shards table">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="sharding-plan"></div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn primary commit-plan" type="submit" name="commit-plan" value="Commit plan">Commit plan</button>
                        <a href="#" class="btn modify-shards cancel">Cancel</a>
                    </div>
                </form>
            </div>
        </script>

        <script id="modify_shards_modal-shard-template" type="text/x-handlebars-template">
            {{#with shard}}
                <td class="name"><h4>{{lower}} to {{upper}}</h4></td>
                <td class="status">
                    <!-- TODO fake -->
                    <p>4 of 5 replicas live</p>
                    <p>50.3 GB of data in this shard</p>
                </td>
                <td class="actions">
                    <p>
                        (<a href="#" class="split" data-index="{{index}}">split</a>)
                        {{#if notlast}}
                            (<a href="#" class="merge" data-index="{{index}}">merge with next</a>)
                        {{/if}}
                    </p>
                </td>
            {{/with}}
        </script>

        <script id="modify_shards_modal-edit_shard-template" type="text/x-handlebars-template">
            <td class="name">
                {{#with shard}}
                    <h4>{{lower}} to {{upper}} </h4>
                {{/with}}
            </td>
            <td class="status" colspan="2">
                <!-- TODO fake -->
                <p>4 of 5 replicas live</p>
                <p>50.3 GB of data in this shard</p>
                <div class="action">
                    {{#if splitting}}
                        <label for="splitpoint">
                            <p>Split point:</p>
                        </label>
                        <input class="small" name="splitpoint" type="text" />
                        <a href="#" class="btn commit_split primary">Split</a>
                        <a href="#" class="btn cancel_split secondary">Cancel</a>
                    {{/if}}
                    {{#if merging}}
                        <p>
                            <a href="#" class="btn commit_merge primary">Yes</a>
                            <a href="#" class="btn cancel_merge secondary">No</a>
                            Are you sure you want to merge the shards <strong>{{low_shard}}
                                </strong> and <strong>{{high_shard}}</strong>?
                        </p>
                    {{/if}}
                </div>
            </td>
        </script>


        <script id="modify_shards_modal-sharding_plan-datacenter-template" type="text/x-handlebars-template">
            <td class="name"><h4>{{name}}</h4></td>
            <td class="machines">
                <p class="delta">
                    {{#comma_separated machines}}<a href='/#machines/{{this.id}}'>{{this.name}}</a>{{/comma_separated}}
                       will be added.
                </p>
                <p class="existing-replicas">
                    Existing replicas for this shard and in this datacenter are on {{#comma_separated existing_machines}}<a href="/#machines/{{this.id}}">{{this.name}}</a>{{/comma_separated}}
                </p>
            </td>
            <td class="change-machines">
                (<a class="edit" href="#">change</a>)
            </td>
        </script>

    <script id="modify_shards_modal-sharding_plan-edit_datacenter-template" type="text/x-handlebars-template">
    <td class="name"><h4>{{name}}</h4></td>
    <td class="machines">
        <p class="delta">
        {{#each machine_dropdowns}}
            <select name="machine" class="small machine-for-shard">
            {{#each available_machines}}
                <option {{#ifequal ...selected.id this.id}}selected="selected"{{/ifequal}}>{{this.name}}</option>
            {{/each}}
            </select>
        {{/each}}
           will be added.
        </p>
        <p class="existing-replicas">
        Existing replicas for this shard and in this datacenter are on {{#comma_separated existing_machines}}<a href="/#machines/{{this.id}}">{{this.name}}</a>{{/comma_separated}}
        </p>
    </td>
    <td class="change-machines">(<a class="save-datacenter" href="#">save</a>)</td>
    </script>

        <script id="modify_shards-alert-template" type="text/x-handlebars-template">
            <div class="alert" data-alert="alert">
                <a class="close" href="#">&times;</a>
                <p>Shard was modified.</p>
            </div>
        </script>

        <!-- Datacenter view -->
        <script id="datacenter_view-container-template" type="text/x-handlebars-template">
            <h1>Datacenter overview for {{name}}</h1>
            <h3 class="title">Datacenter profile</h3>
            <div class="section summary">
                <p class="status">Status: 
                    {{#if is_live}}
                        Live ({{reachable_machines}} of {{total_machines}} can be reached)
                    {{else}}
                        Down
                    {{/if}}
                </p>
                <p>Machines:</p>
                <ul>
                  {{#each machines}}
                      <li><a href='#machines/{{id}}'>{{name}}</a> {{#if is_reachable }} {{else}}(cannot be reached){{/if}}</li>
                  {{/each}}
                </ul>
            </div>
            <h3 class="title">Performance</h3>
            <div class="section performance-graph"></div>
            <h3 class="title">Recent log entries</h3>
            <div class="section recent-actions"></div>
        </script>

        <!-- Machine view -->
        <script id="machine_view-container-template" type="text/x-handlebars-template">
            <h1>Machine overview for {{name}}</h1>
            <h3 class="title">System profile</h3>
            <div class="section summary">
                <p class="datacenter-name">Datacenter:
                    {{#if assigned_to_datacenter}}
                        <a href="#datacenters/{{datacenter_uuid}}">{{datacenter_name}}</a>
                    {{else}}
                        Unassigned 
                    {{/if}}
                    <a class="set-datacenter" href="#">(change)</a>
                </p>
                <p>IP address: {{ip}}</p>
                <p>
            </div>
            <h3 class="title">Resources</h3>
            <div class="section system-resources">
                <p class="uptime">Uptime: {{uptime}}</p>
                <p class="cpu">CPU: <span class="cpu-graph" values="{{cpu}}, {{cpu}}"></span></p>
                <p class="ram">RAM:</p>
                <p class="disk">Disk:</p>
            </div>
            <h3 class="title">Performance</h3>
            <div class="section performance-graph"></div>
            <h3 class="title">Data on this machine</h3>
            <div class="section data">
                {{#if is_reachable}}
                    {{#each data.namespaces}}
                        <div class="namespace">
                            <h4>Shards on namespace {{name}}:</h4>
                            <ul>
                            {{#each shards}}
                                <li>{{name}}: {{role}}</li>
                            {{/each}}
                        </ul>
                        </div>
                    {{/each}}
                {{else}}
                    <p>This machine cannot be reached.</p>
                {{/if}}
            </div>
            <h3 class="title">Recent log entries</h3>
            <div class="section recent-actions"></div>
        </script>

        <!-- Sidebar -->
        <script id="sidebar-container-template" type="text/x-handlebars-template">
            <div class="section cluster-status">
                <div class="client-connection-status"></div>
                <hr />
                <div class="issues"></div>
                <hr />
                <!-- Connectivity status goes here -->
                <div class="connectivity-status">
                </div>
            </div>
            <div class="section last">
                <h3>Recent log entries</h3>
                <div class="recent-events"></div>
                <p><a href="#events">See all recent log entries &rarr;</a></p>
            </div>
        </script>
        <script id="sidebar-client_connection_status-template" type="text/x-handlebars-template">
            {{#if disconnected}}
                <h5 class="connection disconnected">Disconnected</h5>
            {{else}}
                <h5 class="connection connected">Connected to:</h5>
                <h5 class="connected-to">{{machine_name}} in {{datacenter_name}}</h5>
            {{/if}}
        </script>
        <script id="sidebar-issues-template" type="text/x-handlebars-template">
            {{#if critical_issues.exist}}
                <h5 class="critical">Critical issues</h5>
                <div class="critical-issues">
                {{#each critical_issues.types}}
                    <div class="critical-issues">
                        <div class="priority"></div>
                        <div class="message">
                            {{#if MACHINE_DOWN}}{{num}} machine{{pluralize_noun num}} {{pluralize_verb_to_be num}} down{{/if}}
                        </div>
                    </div>
                {{/each}}
                </div>
            {{/if}}
            {{#if other_issues.exist}}
                <h5 class="other">Non-critical issues</h5>
                <div class="critical-issues">
                    <div class="priority"></div>
                    <div class="message">
                        {{other_issues.num}} other issue{{pluralize_noun num_other_issues}}
                    </div>
                </div>
            {{/if}}
            {{#if no_issues}}
                <h5 class="no-issues">No issues reported</h5>
            {{else}}
                {{#if show_resolve_issues}}
                    <p class="resolve-issues"><a href="#resolve_issues">Resolve issues</a></p>
                {{/if}}
            {{/if}}
        </script>
        <script id="sidebar-connectivity_status-template" type="text/x-handlebars-template">
          <h5 class="cluster">Cluster status</h5>
          <div class="connectivity-info">
            <p class="metrics"><strong>{{machines_active}}</strong> of <strong>{{machines_total}}</strong> machines reachable.</p>
            <p class="metrics"><strong>{{datacenters_active}}</strong> of <strong>{{datacenters_total}}</strong> data centers reachable.</p>
          </div>
        </script>
        <script id="sidebar-event-template" type="text/x-handlebars-template">
            <div class="priority {{priority}}"></div>
            <div class="message">{{message}}</div>
            <p class="datetime"><abbr class="timeago" title="{{datetime}}">{{datetime}}</abbr></p>
        </script>

        <!-- Resolve issues view -->
        <script id="resolve_issues-container-outer-template" type="text/x-handlebars-template">
            <h1>Resolve issues</h1>
            <div id="user-alert-space"></div>
            <div id="resolve_issues-container-inner-placeholder"></div>
        </script>
        <script id="resolve_issues-container-inner-template" type="text/x-handlebars-template">
            {{#if issues_exist}}
                <div class="issues"></div>
            {{else}}
                <p class="no-issues">No issues reported in the cluster.</p>
            {{/if}}
        </script>
        <script id="resolve_issues-machine_down-template" type="text/x-handlebars-template">
            <div class="issue {{#if critical }}critical{{/if}}">
                <div class="header">
                    <h3 class="title">Machine {{name}} is unreachable.</h3>
                    {{#if datetime}}
                        <p class="datetime"><abbr class="timeago" title="{{datetime}}">on {{prettify_date datetime}}</abbr></p>
                    {{/if}}
                </div>
                <hr />
                {{#if no_responsibilities}}
                <h4>This machine has no master or replica responsibilities.</h4>

                {{else}}

                <!-- Masters -->
                {{#if masters}}
                <h4>This machine is responsible for the following masters:</h4>
                <ul>
                {{#each masters}}
                    <li>Namespace <a href="#namespaces/{{uuid}}">{{name}}</a> for the shard {{shard}}.</li>
                {{/each}}
                </ul>
                {{else}}
                <h4>This machine has no master responsibilities.</h4>
                {{/if}}

                <!-- Replicas -->
                {{#if replicas}}
                <h4>This machine is responsible for the following replicas:</h4>
                <ul>
                {{#each replicas}}
                    <li>Namespace <a href="#namespaces/{{uuid}}">{{name}}</a> for the shard {{shard}}.</li>
                {{/each}}
                </ul>
                {{else}}
                <h4>This machine has no replica responsibilities.</h4>
                {{/if}}

                {{/if}}

                <p><a class="btn large danger">Declare Dead</a></p>
            </div>
        </script>
        <script id="resolve_issues-name_conflict-template" type="text/x-handlebars-template">
            <div class="issue {{#if critical }}critical{{/if}} name-conflict">
                <div class="header">
                    <h3 class="title">The name {{name}} is used by more than one {{type}}.</h3>
                    {{#if datetime}}
                        <p class="datetime"><abbr class="timeago" title="{{datetime}}">on {{prettify_date datetime}}</abbr></p>
                    {{/if}}
                </div>
                <hr />
                <h4>{{capitalize type}}{{pluralize_noun num_contestants}} with the name {{name}}:</h4>
                <ul>
                {{#each contestants}}
                <li><a id="rename_{{uuid}}" href="#{{type}}{{pluralize_noun 2}}/{{uuid}}"><span class="uuid">{{humanize_uuid uuid}}</span></a> (<a href="#">rename</a>)</li>
                {{/each}}
                </ul>
            </div>
        </script>
        <script id="resolve_issues-persistence-template" type="text/x-handlebars-template">
            <div class="issue {{#if critical }}critical{{/if}}">
                <div class="header">
                    <h3 class="title">Persistence has been lost.</h3>
                    {{#if datetime}}
                        <p class="datetime"><abbr class="timeago" title="{{datetime}}">on {{prettify_date datetime}}</abbr></p>
                    {{/if}}
                </div>
                <hr />
            </div>
        </script>
        <script id="resolve_issues-vclock_conflict-template" type="text/x-handlebars-template">
            <div class="issue {{#if critical }}critical{{/if}}">
                <div class="header">
                    <h3 class="title">Metadata problem (vclock).</h3>
                    {{#if datetime}}
                        <p class="datetime"><abbr class="timeago" title="{{datetime}}">on {{prettify_date datetime}}</abbr></p>
                    {{/if}}
                </div>
                <hr />
            </div>
        </script>
        <script id="resolve_issues-unknown-template" type="text/x-handlebars-template">
            <div class="issue {{#if critical }}critical{{/if}}">
                <div class="header">
                    <h3 class="title">Unknown issue: {{issue_type}}</h3>
                    {{#if datetime}}
                        <p class="datetime"><abbr class="timeago" title="{{datetime}}">on {{prettify_date datetime}}</abbr></p>
                    {{/if}}
                </div>
                <hr />
                <h4>Whoops, this shouldn't happen. Please contact support and hope for the best.</h4>
            </div>
        </script>

        <!-- Events view -->
        <script id="events-container-template" type="text/x-handlebars-template">
            <h1>Log entries</h1>
            <div class="events"></div>
        </script>
        <script id="events-event-template" type="text/x-handlebars-template">
            <p class="datetime">{{prettify_date datetime}}</p>
            <p class="message">{{message}}</p>
            <div class="clearleft"></div>
        </script>

        <!-- Alerts -->
        <script id="added_namespace-alert-template" type="text/x-handlebars-template">
            <div class="alert" data-alert="alert">
                <a class="close" href="#">&times;</a>
                <p>You added namespace <span class="name">{{name}}</span>. You can now <a href="#namespaces/{{uuid}}">configure</a> it further.</p>
            </div>
        </script>

        <script id="removed_namespace-alert-template" type="text/x-handlebars-template">
            <div class="alert" data-alert="alert">
                <a class="close" href="#">&times;</a>
                <p>You removed namespace <span class="name">{{name}}</span>.</p>
            </div>
        </script>

        <script id="declared_machine_dead-alert-template" type="text/x-handlebars-template">
            <div class="alert" data-alert="alert">
                <a class="close" href="#">&times;</a>
                <p>You successfully declared machine <span class="name">{{machine_name}}</span> dead.</p>
            </div>
        </script>

        <script id="added_datacenter-alert-template" type="text/x-handlebars-template">
            <div class="alert" data-alert="alert">
                <a class="close" href="#">&times;</a>
                <p>You added datacenter <span class="name">{{name}}</span>. You can now <a href="#datacenters/{{uuid}}">configure</a> it further.</p>
            </div>
        </script>

        <script id="removed_datacenter-alert-template" type="text/x-handlebars-template">
            <div class="alert" data-alert="alert">
                <a class="close" href="#">&times;</a>
                <p>You removed datacenter <span class="name">{{name}}</span>.</p>
            </div>
        </script>

        <script id="suspended_machine-alert-template" type="text/x-handlebars-template">
            <div class="alert" data-alert="alert">
                <a class="close" href="#">&times;</a>
                <p>You suspended machine <span class="name">{{name}}</span>.</p>
            </div>
        </script>

        <script id="modified_replica-alert-template" type="text/x-handlebars-template">
            <div class="alert" data-alert="alert">
                <a class="close" href="#">&times;</a>
                <p>Replicas are modified.</p>
            </div>
        </script>

        <script id="set_datacenter-alert-template" type="text/x-handlebars-template">
            <div class="alert" data-alert="alert">
                <a class="close" href="#">&times;</a>
                <p>Machine {{machine_name}}'s datacenter was set to {{datacenter_name}}.</p>
            </div>
        </script>

        <!-- Modal dialogs -->
        <script id="add_namespace-modal-template" type="text/x-handlebars-template">
            <div class="modal add-namespace">
                <form class="form">
                    <div class="modal-header">
                        <a href="#" class="close">&times;</a>
                        <h3>Add a namespace</h3>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <legend>Namespace details</legend>
                            <div class="clearfix">
                                <label for="name">Name</label>
                                <div class="input">
                                    <input class="xlarge" name="name" size="30" type="text" />
                                </div>
                            </div>
                            <div class="clearfix">
                                <label for="port">Port</label>
                                <div class="input">
                                    <input class="xlarge" name="port" size="5" type="text" />
                                </div>
                            </div>
                            <div class="clearfix">
                                <label for="protocol">Protocol</label>
                                <div class="input">
                                    <select class="protocol" name="protocol">
                                        <option>Memcached</option>
                                        <option>Redis</option>
                                        <option>Riak</option>
                                        <option>MongoDB</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix">
                                <label for="primary_datacenter">Select a primary datacenter:</label>
                                <div class="input">
                                    <select class="primary_datacenter" name="primary_datacenter">
                                        {{#each datacenters}}
                                        <option value="{{this.id}}">{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <hr />
                            <div class="user-tip">
                                <p>* You can tweak configuration options for
                                the namespace once it's created.</p>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button class="btn primary add-namespace" type="submit" name="add-namespace" value="Add namespace">Add namespace</button>
                        <a href="#" class="btn secondary cancel">Cancel</a>
                    </div>
                </form>
            </div>
        </script>

        <script id="confirmation_dialog-template" type="text/x-handlebars-template">
            <div class="modal confirmation">
                <form class="form">
                    <div class="modal-header">
                        <a href="#" class="close">&times;</a>
                        <h3>Confirmation</h3>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <legend>{{message}}</legend>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn cancel">No</a>
                        <button class="btn" type="submit" name="yes" value="yes">Yes</button>
                    </div>
                </form>
            </div>
        </script>

        <script id="remove_namespace-modal-template" type="text/x-handlebars-template">
            <div class="modal remove-namespace">
                <form class="form">
                    <div class="modal-header">
                        <a href="#" class="close">&times;</a>
                        <h3>Remove a namespace</h3>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to remove these namespaces:</p>
                        <ul class="namespace-list">
                            {{#each namespaces}}
                                <li><a href="#namespaces/{{id}}" target="_blank">{{name}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="btn primary remove-namespace" type="submit" name="remove-namespace" value="Remove namespace">Remove namespace</button>
                        <a href="#" class="btn secondary cancel">Cancel</a>
                    </div>
                </form>
            </div>
        </script>

        <script id="declare_machine_dead-modal-template" type="text/x-handlebars-template">
            <div class="modal declare_machine_dead">
                <form class="form">
                    <div class="modal-header">
                        <a href="#" class="close">&times;</a>
                        <h3>Declare machine dead</h3>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to declare <strong>{{machine_name}}</strong> dead?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn primary declare_machine_dead" type="submit" name="declare-machine-dead" value="Declare dead">Declare dead</button>
                        <a href="#" class="btn secondary cancel">Cancel</a>
                    </div>
                </form>
            </div>
        </script>

        <script id="edit_machines-modal-template" type="text/x-handlebars-template">
            <div class="modal modify-replicas">
                <form class="form">
                    <input type="hidden" name="datacenter" value="{{datacenter.id}}" />
                    <div class="modal-header">
                        <a href="#" class="close">&times;</a>
                        <h3>Machines for namespace <a href="/#namespaces/{{namespace.id}}">{{namespace.name}}</a> in datacenter <a href="/#datacenters/{{datacenter.id}}">{{datacenter.name}}</a></h3>
                    </div>
                    <div class="modal-body">
                        <div class="replica-plan">
                            <table class="shards">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn primary commit-plan" type="submit" name="commit-plan" value="Commit changes">Commit changes</button>
                        <a href="#" class="btn edit-machines cancel">Cancel</a>
                    </div>
                </form>
            </div>
        </script>

        <script id="modify_replica_modal-replica_plan-shard-template" type="text/x-handlebars-template">
            <td class="name"><h4>{{name}}</h4></td>
            <td class="machines">
                <p class="existing-primary">Primary replica for this shard: <a href='/#machines/{{existing_primary_machine.id}}'>{{existing_primary_machine.name}}</a></p>
                <p class="existing-secondaries">
                    Secondary replicas for this shard:
                    {{#comma_separated existing_secondary_machines}}<input type="hidden" name="machine_for_{{shard_index}}" value="{{machine.id}}"><a href='/#machines/{{machine.id}}'>{{machine.name}}</a>{{/comma_separated}}
                </p>
            </td>
            <td class="change-machines">
                (<a class="edit" href="#">change</a>)
            </td>
        </script>

        <script id="modify_replica_modal-replica_plan-edit_shard-template" type="text/x-handlebars-template">
            <td class="name"><h4>{{name}}</h4></td>
            <td class="machines">
                <div class="delta">
                    <p>Primary replica for this shard:</p>
                        {{#with primary_machine_dropdown}}
                            <select name="machine_for_{{shard_index}}" class="small primary-for-replica">
                            {{#each available_machines}}
                                <option value="{{this.id}}" {{#ifequal ...selected.id this.id}}selected="selected"{{/ifequal}}>{{this.name}}</option>
                            {{/each}}
                            </select>
                        {{/with}}
                    <p>Secondary replicas for this shard:</p>
                    {{#each secondary_machine_dropdowns}}
                        <select name="machine_for_{{shard_index}}" class="small secondary-for-replica">
                        {{#each available_machines}}
                            <option value="{{this.id}}" {{#ifequal ...selected.id this.id}}selected="selected"{{/ifequal}}>{{this.name}}</option>
                        {{/each}}
                        </select>
                    {{/each}}
                </div>
            </td>
        </script>

        <script id="modify_replicas_review_changes-modal-template" type="text/x-handlebars-template">
            <div class="modal modify-replicas">
                <form class="form">
                <input type="hidden" name="datacenter" value="{{datacenter.id}}">
                <div class="modal-header">
                    <a href="#" class="close">&times;</a>
                    <h3>Replication for namespace <a href="/#namespaces/{{namespace.id}}">{{namespace.name}}</a> in datacenter <a href="/#datacenters/{{datacenter.id}}">{{datacenter.name}}</a></h3>
                </div>
                <div class="modal-body">
                    <div class="replica-plan">
                    {{#if replicas.adding}}
                        <h4 class="replicas">Adding {{replicas.num_changed}} replicas</h4>
                    {{else}}
                        {{#if replicas.removing}}
                        <h4>Removing {{replicas.num_changed}} replicas</h4>
                        {{else}}
                        <h4>No replica changes</h4>
                        {{/if}}
                    {{/if}}
                    <table class="shards">
                        <tbody>
                        </tbody>
                    </table>
                    <h5 class="acks">Replicas on this datacenter will require {{acks.num}} acks.</h5>
                    </div>
                    <input type="hidden" name="num_acks" value="{{acks.num}}">
                    <input type="hidden" name="num_replicas" value="{{replicas.num}}">
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn commit-plan primary">Commit changes</a>
                    <a href="#" class="btn modify-replicas cancel">Cancel</a>
                </div>
                </form>
            </div>
        </script>

        <script id="add_datacenter-modal-template" type="text/x-handlebars-template">
            <div class="modal add-datacenter">
                <form class="form">
                    <div class="modal-header">
                        <a href="#" class="close">&times;</a>
                        <h3>Add a datacenter</h3>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <legend>Datacenter details</legend>
                           <div class="clearfix">
                                <label for="name">Name</label>
                                <div class="input">
                                    <input class="xlarge" name="name" size="30" type="text" />
                                </div>
                            </div>
                            <div class="clearfix">
                                <label for="location">Location</label>
                                <div class="input">
                                    <input class="xlarge" name="location" size="30" type="text" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button class="btn primary add-datacenter" type="submit" name="add-datacenter" value="Add datacenter">Add datacenter</button>
                        <a href="#" class="btn secondary cancel">Cancel</a>
                    </div>
                </form>
            </div>
        </script>

        <script id="remove_datacenter-modal-template" type="text/x-handlebars-template">
            <div class="modal remove-datacenter">
                <form class="form">
                    <div class="modal-header">
                        <a href="#" class="close">&times;</a>
                        <h3>Remove a datacenter</h3>
                    </div>
                    <div class="modal-body">
                        <div class="alert block-message error">
                            <p>
                            <strong>Be careful.</strong>
                                If you remove these datacenters, all
                                replica counts in these datacenters will be
                                reduced to zero.
                            </p>
                        </div>
                        <p>Are you sure you want to remove these datacenters:</p>
                        <ul class="datacenter-list">
                            {{#each datacenters}}
                                <li><a href="#datacenters/{{id}}" target="_blank">{{name}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="btn primary remove-datacenter" type="submit" name="remove-datacenter" value="Remove datacenter">Remove datacenters</button>
                        <a href="#" class="btn secondary cancel">Cancel</a>
                    </div>
                </form>
            </div>
        </script>

        <script id="set_datacenter-modal-template" type="text/x-handlebars-template">
            <div class="modal set-datacenter">
                <form class="form">
                    <div class="modal-header">
                        <a href="#" class="close">&times;</a>
                        <h3>Set datacenter</h3>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <legend>Which datacenter?</legend>
                            <label for="datacenter_uuid">Select a datacenter</label>
                            <div class="clearfix">
                                <select class="datacenter_uuid" name="datacenter_uuid">
                                    <option value=""></option>
                                    {{#each datacenters}}
                                        <option value="{{this.id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button class="btn primary set-namespace" type="submit">Set datacenter</button>
                        <a href="#" class="btn secondary cancel">Cancel</a>
                    </div>
                </form>
            </div>
        </script>

        <!-- javascript -->
        <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="js/handlebars-1.0.0.beta.6.js"></script>
        <script type="text/javascript" src="js/underscore-min.js"></script>
        <script type="text/javascript" src="js/backbone.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap-tab.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap-modal.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap-alert.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap-typeahead.js"></script>
        <script type="text/javascript" src="js/jquery.sparkline.min.js"></script>
        <script type="text/javascript" src="js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="js/jquery.hotkeys.js"></script>
        <script type="text/javascript" src="js/jquery.form.js"></script>
        <script type="text/javascript" src="js/jquery.timeago.js"></script>
        <script type="text/javascript" src="js/date-en-US.js"></script>
        <script type="text/javascript" src="js/d3.v2.min.js"></script>
        <script type="text/javascript" src="gen/cluster-min.js"></script>
        <script type="text/javascript">
            var reset_token = function() {
                token = "{{token}}";
            }
        </script>
    </head>
    <body>
        <div id="navbar-container"></div>
        <div id="dev-tools">
            <h3>Development tools</h3>
            <div id="live-data" class="btn" href="#">Pause live data feed</div>
            <div id="reset-simulation-data" class="btn" href="#">Reset simulation data</div>
            <div id="fetch-backbone-data" class="btn" href="#">Fetch Backbone.js data</div>
            <div id="make-diff" class="btn" href="#">Make diff</div>
            <div id="reset-session" class="btn" href="#">Reset session</div>
            <hr />
            <h3>Simulate events</h3>
            <div id="random-machine-failure" class="btn" href="#">Random machine failure</div>
        </div>
        <div class="container">
            <div class="row">
                <div id="cluster" class="span9"></div>
                <div id="sidebar-wrapper" class="span3">
                    <div id="sidebar"></div>
                </div>
            </div>
            <div id="modal-dialog"></div>
        </div>
    </body>
</html>
