<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>RethinkDB Administration Console</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="no-cache">
        <meta http-equiv="Expires" content="-1">
        <meta http-equiv="Cache-Control" content="no-cache">

        <link rel="stylesheet" type="text/css" href="cluster.css?v={RETHINKDB_VERSION}" />
        <link rel="stylesheet" type="text/css" href="js/chosen/chosen.css?v={RETHINKDB_VERSION}" />
        <link rel="stylesheet" type="text/css" href="js/codemirror/codemirror.css?v={RETHINKDB_VERSION}" />
        <link rel="stylesheet" type="text/css" href="js/codemirror/ambiance.css?v={RETHINKDB_VERSION}" />
        <link rel="stylesheet" type="text/css" href="fonts/stylesheet.css?v={RETHINKDB_VERSION}" />
        <link rel="stylesheet" type="text/css" href="js/nanoscroller/nanoscroller.css?v={RETHINKDB_VERSION}" />

        <script type="text/javascript" src="js/jquery-1.7.2.min.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/ZeroClipboard.min.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/handlebars.runtime-1.0.0.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/underscore-min.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/backbone.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap-modal.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap-alert.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap-typeahead.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap-button.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap-dropdown.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap-tooltip.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap-popover.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/jquery.validate.min.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/jquery.hotkeys.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/jquery.form.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/nanoscroller/jquery.nanoscroller.min.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/jquery.color.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/jquery.timeago.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/date-en-US.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/d3.v2.min.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/rdb_cubism.v1.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/jquery.dataTables.min.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/xdate.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/chosen/chosen.jquery.min.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/template.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="cluster-min.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/rethinkdb.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/codemirror/codemirror.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/codemirror/javascript.js?v={RETHINKDB_VERSION}"></script>
        <script type="text/javascript" src="js/codemirror/matchbrackets.js?v={RETHINKDB_VERSION}"></script>

    </head>
    <body>
    </body>
</html>
