<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>RethinkDB Administration Console</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="no-cache">
        <meta http-equiv="Expires" content="-1">
        <meta http-equiv="Cache-Control" content="no-cache">

        <link rel="stylesheet" type="text/css" href="gen/cluster.css" />
        <link rel="stylesheet" type="text/css" href="js/chosen/chosen.css" />

        <!--{{INJECT_HANDLEBARS_TEMPLATES}}-->
        
        <!-- javascript -->
        <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="js/handlebars-1.0.0.beta.6.js"></script>
        <script type="text/javascript" src="js/underscore-min.js"></script>
        <script type="text/javascript" src="js/backbone.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap-tab.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap-modal.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap-alert.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap-typeahead.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap-button.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap-dropdown.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap-tooltip.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap-popover.js"></script>
        <script type="text/javascript" src="js/jquery.sparkline.min.js"></script>
        <script type="text/javascript" src="js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="js/jquery.hotkeys.js"></script>
        <script type="text/javascript" src="js/jquery.form.js"></script>
        <script type="text/javascript" src="js/jquery.timeago.js"></script>
        <script type="text/javascript" src="js/date-en-US.js"></script>
        <script type="text/javascript" src="js/d3.v2.min.js"></script>
        <script type="text/javascript" src="js/rdb_cubism.v1.js"></script>
        <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="js/jquery.color.js"></script>
        <script type="text/javascript" src="js/xdate.js"></script>
        <script type="text/javascript" src="js/chosen/chosen.jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.ba-outside-events.min.js"></script>
        <script type="text/javascript" src="gen/cluster-min.js"></script>
        <script type="text/javascript">
            var reset_token = function() {
                token = "{{token}}";
            }
        </script>
    </head>
    <body>
    </body>
</html>
