html, body {
	height: 100%;
	overflow: hidden;
	font-family: sans-serif;
	font-size: small;
}
#wrapper {
	position: relative;
	height: 100%;
}
#header {
	height: 1em;
}
#title {
	margin: 10px 10px;
	display: inline;
	font-size: 1.5em;
	font-weight: bold;
	float: left;
}
#plotTitle {
	font-weight: normal;
}
#plot {
	clear: left;
	width: auto;
	margin: 10px 260px 10px 5px;
}
#placeholder {
	margin-bottom: 4em;
	font-size: medium;
}
#loadingAnimation {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -32px;
	margin-left: -157px;
}
#controls {
	background: white;
	width: 248px;
	border: thin solid #ccc;
	border-top: 0px;
	float:right;
	overflow: auto;
	height: 95%;
}
.controlSection {
	border-top: thin solid #ccc;
	padding-left: 10px;
	padding-right: 10px;
}
.controlHeader {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	height: 1.8em;
}
.controlTitle {
	font-weight: bold;
	display: inline-block;
	margin: 5px 0px;
}
.controlCaption {
	font-weight: normal;
}
.controlOption {
	margin: 3px 0px;
}
#overview {
	padding-top: 5px;
	padding-bottom: 5px;
	height: 100px;
	width: 220px;
	font-size: xx-small;
}
.set {
	vertical-align: middle;
}
.series {
	vertical-align: middle;
}
#enableTooltip {
	vertical-align: middle;
}
#footer {
	font-style: italic;
	position: absolute;
	padding-top: 0.5em;
	bottom: 0.25em;
	z-index: -1;
	border-top: thin solid #000;
	width: 100%;
}
#copyright {
	padding-left: 20px;
}
.controlHeaderIcon {
	display: inline-block;
	vertical-align: text-top;
}
.collapse {
	background: transparent url('../images/expanded-arrow.png') no-repeat scroll 0% 0%;
	height: 16px;
	position: relative;
	width: 16px;
}
.expand {
	background:transparent url('../images/collapsed-arrow.png') no-repeat scroll 0% 0%;
	display:none;
	height:16px;
	position:relative;
	width:16px;
}
