<div id="server-view">
  <div class="operations">
    <div class="dropdown">
      <button class="btn dropdown-toggle" data-toggle="dropdown">Operations</button>
      <ul class="dropdown-menu">
        <li><a href="#" class="rename">Rename server</a></li>
      </ul>
    </div>
  </div>
  <div class="main_title">
    <h1 class="title">
      {{#if loading}}
      Loading server {{id}}
      {{else}}
      Server overview for {{name}}
      {{/if}}
    </h1>
  </div>
  <div id="user-alert-space"></div>
  <div class="section statistics">
    <h2 class="title">Statistics</h3>
      <div class="content row-fluid">
        <div class="span4 profile"></div>
        <div class="span8 performance-graph"></div>
      </div>
  </div>
  <div class="section responsibilities tree-view"></div>
  <div class="recent-log-entries"></div>
</div>
