
    <h2 class="title">Data on this server</h2>
    <ul class="responsibilities_list">
        <li class="tree-line"></li>
    </ul>
    <div class="no_element">
        This server does not have any data.
    </div>


