
    <div id="server-view">
        <h1 class="title">Error - Zombie server</h1>
        <div class="section statistics">
            <p>This server was previously declared dead, but has been reconnected to the cluster.<br/>
            Please kill the RethinkDB instance on this server.</p>
            <p>List of IPs: {{comma_separated_simple ips}}</p>
            <p></p>
        </div>
    </div>


